[2016-06-29 00:04] selwin opened #2 "Carthage as an installation option? :)"

[2016-06-29 00:17] danlozano commented on #2
Good idea. I've never used carthage before but it would be nice to add it as an installation option as well. Let me look into it :)

[2016-07-01 11:02] iHunterX opened #4 "How can I customize ViewController with your Presentr"

[2016-07-01 18:40] danlozano commented on #4
You can present any custom View Controller you create either through code, xibs or interface builder.

Are you referring to the AlertViewController I include in the framework? If so, it is currently only customizable in that you can supply the title text, body text and 1 or 2 buttons which have a title, an action block and a style, which can be .Default, .Destructive or .Cancel, which use green, r

[2016-07-02 20:59] lfarah opened #5 "Swift 3"
Hey, I'd love to contribute to *Presentr* and port it to **Swift 3**, but first you guys have to create a swift3 branch on the repo so I can start pushing stuff.

What are your thoughts? 😃

[2016-07-02 21:00] lfarah opened #6 "Manual Installation"
```CocoaPods``` and ```Carthage``` are awesome tools and make our life really easier, but there are some devs who still don't know how to use them.

It would be cool to add the *Manual installation* guide in your ```README.md```. You can take a look at my [iOS Readme Template](https://github.com/awesome-labs/iOS-readme-template) to see how you can do it.

[2016-07-02 22:45] danlozano commented on #6
cool 👍

[2016-07-02 22:45] #6 closed

[2016-07-02 22:48] danlozano commented on #5
Good idea :) ! I'll create a **Swift3** branch off of the **Develop** branch. You can send pull requests to that branch.

[2016-07-04 04:40] iHunterX commented on #4
I mean how can I change the sizes, frames of the pop up, thanks

[2016-07-04 16:08] danlozano commented on #4
Oh, got it!

Right now the only presentation types (which deal with sizing and positioning the presented controller on screen) are the 4 included. Popup, Alert, TopHalf and BottomHalf.

My idea was that that would be enough for the typical cases, and any other case which I missed could be added on via a pull request by someone else.

But, it might be a good idea to have a "Custom" presentation typ

[2016-07-06 07:38] niklassaers opened #8 "View controller size"
Hi,
.Alert size looks hardcoded, and the others are a factor of the UITransitionView which as far as I understand is the screen size. I have view controllers that I would like to present that use autolayout to become a size, depending on content, text size and dynamic type. I'd love an option to either specify the size of the view controller being presented, that Presentr figures out the size of t

[2016-07-06 15:01] danlozano commented on #8
Hi Nik,

Yes, I decided to hard code the .Alert presentation size since Alert's are usually static no matter what screen they are presented on. I think that's Apple's default behavior if you present an Alert on iPhone or iPad.

And yeah, the other presentation types **do** depend on the screen size, but they are in a way "hard-coded" since they can't be modified by the framework's user.

Presentr

[2016-07-06 15:02] danlozano commented on #8
#4

[2016-07-06 15:03] danlozano commented on #8
This other issue deals with the same issue. #4

[2016-07-06 17:58] danlozano commented on #8
Done!

You should be able to use a Custom **Presentation Type** in the new [0.1.6](https://github.com/IcaliaLabs/Presentr/releases/tag/0.1.6) release, which should be available via Cocoapods now.

I will update the Readme to provide detailed instructions on how to create a custom presentation, but for now I'll share some example code for creating a 'Top Banner' type alert.

[code]

[2016-07-06 17:58] #8 closed

[2016-07-06 17:59] danlozano commented on #4
Done!

You should be able to use a Custom **Presentation Type** in the new [0.1.6](https://github.com/IcaliaLabs/Presentr/releases/tag/0.1.6) release, which should be available via Cocoapods now.

I will update the Readme to provide detailed instructions on how to create a custom presentation, but for now I'll share some example code for creating a 'Top Banner' type alert.

[code]

[2016-07-06 21:39] #4 closed

[2016-07-07 06:57] niklassaers commented on #4
Wonderful. :-) Thanks! :-)

[2016-07-07 07:00] niklassaers commented on #8
Wonderful! :-) Thank! :-) .Custom solves my needs. :-)

[2016-07-07 07:08] pratik6554 opened #9 "Pod install error [!] Unable to find a specification for `Presentr`"
pod --version
1.0.0.beta.6

[!] Unable to find a specification for `Presentr`

[2016-07-07 16:22] danlozano commented on #9
Hi!

That is strange. Are you on iOS 8.0 or above?

You get this error when trying to do a pod install?

[2016-07-09 19:11] anthonycastelli opened #11 "Swipe to dismiss animation"
The little x at the top right and the swipe animation don't appear to be present.

[2016-07-10 15:56] danlozano commented on #11
Hi!

Oh I see what you mean. Are you talking about the X in the screenshots? Those are not part of Presentr, those are part of that app's design (the one I took the screenshots in).

To dismiss the presented controller there are currently two ways. One is tapping on the background, and the other is calling dismissViewController:animated yourself from the view controller you presented.

What do you

[2016-07-10 19:53] anthonycastelli commented on #11
Yeah, the X at the top right and the bottom arrow. Maybe have an option to show one or the other? I think they will be handy. As for the swipe animation, like an interactive dismiss animation similar to tweetbot or messages image dismissal. From the demo images, I thought there was such a thing already implemented.

[2016-07-14 14:41] tbaranes opened #12 "Customise transition when dismissing"
For example: present the viewController with `CoverHorizontalFromLeft` then dismiss it using `CoverHorizontalFromRight`.

It could be useful for more advanced use case :)

[2016-07-14 15:24] danlozano commented on #12
So basically the default would be to use the same transition for presentation & dismissal, BUT have an optional way of setting different presenting and dismissing transitions.

Good idea! Will definitely look into this for next release.

[2016-07-14 15:27] danlozano commented on #11
Oh ok.

Yeah I think I could add the X to make the dismissal more obvious, there could be an optional property to show it or not. Will add this to the next release.

Adding interactive presentation/dismissal is definitely something I want to look into, but I don't think I can work on it for the next relase, but definitely somewhere along the line. If someone wants to help with that via a pull requ

[2016-07-14 16:21] danlozano commented on #12
#13 fixes this issue!

will add this and some other bug fixes to next release

[2016-07-14 18:15] #12 closed

[2016-07-14 19:44] tbaranes opened #15 "Option to handle when keyboard appears"
What about an option to handle keyboard appears? That could something like the following enum:

[code]

Will be useful when there textfields / textview in the popup!

[2016-07-14 20:44] danlozano commented on #12
I just realized you were the issue and pull request author @tbaranes thought you were different users haha.

[2016-07-14 21:59] tbaranes commented on #12
Haha. I got a good timing! I opened the issue and only then I decided to implement it 😁

[2016-07-14 22:24] danlozano commented on #12
Nice!

Check out 0.1.7 should have this and some other pull requests I merged. See the readme as well, I added it in the "what's new" and in the instructions.

[2016-07-15 06:29] tbaranes commented on #12
I'm gonna give a try to 0.1.7!
By the way, do you have any CHANGELOG or detailed released?

[2016-07-15 07:03] tbaranes opened #17 "No fullscreen modal"
Let's say you have an iPad app witch is splitting the screen in two (like multitasking). In the current state of `Presentr`, if I present a viewController on the left side, I will be able to customise my origin and size, but the `PresentrController` frame will still use the screen frame instead of filling only the `presentingViewController` frame.

The result expected would be the same as using `p

[2016-07-15 07:52] tbaranes commented on #17
I just edited the app example to give a more visual example:

![simulator screen shot 15 jul 2016 09 49 54](https://cloud.githubusercontent.com/assets/1402212/16867352/ac6fd90c-4a71-11e6-978b-b09ca3b3bcb8.png)

![simulator screen shot 15 jul 2016 09 49 56](https://cloud.githubusercontent.com/assets/1402212/16867353/ac908daa-4a71-11e6-8374-28c92e8aedfe.png)

1. Default view when launching app
2. Wh

[2016-07-15 15:18] tbaranes commented on #15
Will be closed by #16

[2016-07-15 18:15] aasatt commented on #15
Yeah. That's funny that you opened this while I was working on it. I just came across this library yesterday and needed this in my app.

[2016-07-15 20:55] tbaranes commented on #17
I look into this, it seems more complicated that I though. In order to have this result, we have to set the `modalPresentationStyle` to `OverCurrentContext`, but `presentationControllerForPresentedViewController` is working only and only if the `modalPresentationStyle` is `Custom`. So right now, I have only one solution in mind
- Don't use anymore `UIPresentationController` and handle all that stu

[2016-07-15 22:04] danlozano commented on #15
I thought the issue and pull request were by the same user!

This issue had not occurred to me, but I think it will be a pretty common case. @aasatt you were still working on the pull request, right?

👍

[2016-07-15 22:05] aasatt commented on #15
@danlozano yeah. I should have something in the next 20 mins after i test it a little more.

[2016-07-15 22:12] danlozano commented on #17
I was about to suggest using a custom PresentationType to set a custom origin/size, but now that I read it I realized that's not the issue. The issue is not the presented view controller itself, but the chrome/background view.

So basically, this issue would appear on ipad when doing multitasking or when doing view controller containment, or like a split view controller.

So, there are two issues,

[2016-07-15 22:14] danlozano commented on #9
This issue could be related to a missing
[code]
in the Podfile? Since this is a Swift project.

[2016-07-15 22:16] danlozano commented on #12
I added a "What's New" section to the Readme.

Do you think it's OK? or should there be a separate/more detailed CHANGELOG?

hmmm

[2016-07-15 22:17] danlozano commented on #12
I should also add the contributors in there!

[2016-07-15 22:21] tbaranes commented on #17
You did understand right the issue, it's concerning any apps which split the window in different controllers, as you said, that bring to these two issues.

I just watch the WWDC session about PresentationController to have a better understand of how it is working. Following that, we just have to use the right context when presenting the viewController. Normally `shouldPresentInFullscreen` handles

[2016-07-15 22:25] tbaranes commented on #12
It can be ok for now, but your README will be quickly flooded by that section, could be worth to move it in a CHANGELOG file, even if it's not more detailed.

[2016-07-15 22:38] danlozano commented on #12
Good idea, will do.

[2016-07-15 23:51] TGNA commented on #9
You can try this:
`pod 'Presentr',  :git => 'https://github.com/IcaliaLabs/Presentr.git'`
I worked for me.

[2016-07-16 00:18] tbaranes commented on #17
For information, I think I misunderstand what's the real purpose of `shouldPresentInFullscreen`. Apparently, it won't change the context of the presentedVC but used to enable or not `UIPresentationController`'s `adaptive*` methods which are used to change the presented content following traits...

Well, there must be a way to handle this, but it will be for later!

[2016-07-17 13:46] TeplrGuy opened #19 "Dismissing a custom view controller"
Is it possible to dismiss a custom view controller from the left to right instead of from top to bottom? It seems like when i present it from right to left it still dismiss from top to bottom. What im trying to say is i want it to behave as if it was in a UINavigation controller. Thanks a bunch

[2016-07-18 04:02] danlozano commented on #19
Hey!

Hmm, that is weird! What version are you using? That is definitely not the expected/correct behavior.

The default behavior for when you use a TransitionType is that the same transition that is used to present, is also used to dismiss, but reversed obviously.

So when you use the **.CoverHorizontalFromRight**, TransitionType it will present coming in from the right, and it will dismiss to th

[2016-07-21 07:45] gabrielPeart commented on #9
Using:

`pod 'Presentr', '~> 0.1'`

Works just fine. Probably this issue should be closed.

[2016-07-24 07:51] tuyencoder opened #22 "Can not use completion closure with this method customPresentViewController"
See this block, the completion param has been passing nil
[code]

[2016-07-24 08:41] tuyencoder commented on #22
Another finding is that 0.1.7 has not been in CocoaPods repo yet

[2016-07-25 03:55] iHunterX commented on #4
Wonderful

[2016-07-25 06:32] pratik6554 commented on #9
@danlozano  Yes. I am using iOS 8 and above.
yes getting this error when i am trying to do a pod install
Sorry for late reply.

[2016-07-25 06:35] gabrielPeart commented on #9
@pratik6554 Did you try using:

`pod 'Presentr', '~> 0.1'` ?

[2016-07-25 06:36] gabrielPeart commented on #17
@tbaranes I sent a pull request with this feature. You can try checking my fork.

[2016-07-25 06:40] pratik6554 commented on #9
@gabrielPeart  No, same error.
pod 'Presentr', :git => 'https://github.com/IcaliaLabs/Presentr.git' worked.

[2016-07-25 06:41] gabrielPeart commented on #9
@pratik6554 Could be something due to your pod version.
Glad to know that worked!

[2016-07-25 06:59] tbaranes commented on #17
I took a quick look on it, I dont think that will introduce the feature expected from this issue. The expected behaviour is to present a view controller over the current context instead of being in fullscreen. Did I miss something?

[2016-07-25 07:01] pratik6554 commented on #9
Thank you @gabrielPeart

[2016-07-25 07:40] gabrielPeart commented on #17
@tbaranes You are right. I misread because of the title.

[2016-07-25 07:40] gabrielPeart commented on #22
@tuyencoder It has been fixed, will be merged soon

[2016-07-25 16:31] danlozano commented on #22
@tuyencoder On your first point, @gabrielPeart has fixed it (thanks btw!) Will merge this in the next hour 👍

On your second point, good catch! I had updated the podspec to 0.1.7 but I did not push it up to the Cocoapods master trunk. I just did it, so that should be fixed now.

[2016-07-25 16:35] danlozano commented on #9
Hmm, this is strange. So the issue is fixed when you manually set the git address for the pod.

Anyone else have this issue?

[2016-07-25 19:53] danlozano commented on #22
@gabrielPeart 's fix has been merged onto Develop.

Should be on Master/Release/Cocoapods soon 👍

[2016-07-25 19:53] #22 closed

[2016-07-25 19:58] gabrielPeart commented on #22
@danlozano Cool! 👍

[2016-07-25 20:00] gabrielPeart commented on #9
Nope, haven't had any issue and I tested with different pod versions. Seems strange.
IMHO, should be closed and in case of similar issues we can re-evaluate

[2016-07-25 20:56] danlozano commented on #9
@gabrielPeart Agreed!

[2016-07-25 20:56] #9 closed

[2016-07-26 18:05] fpg1503 opened #24 "customPresentViewController completion is never called"
The `completion` closure given to `customPresentViewController(_:viewController:animated:, completion:)` is never called.

[2016-07-26 19:32] danlozano commented on #24
Hey!

Good catch. This has been fixed in #21 , amongst other things.

This has been merged into develop, will be merged onto master/release/cocoapods soon, possibly today.

👍

[2016-07-26 19:32] #24 closed

[2016-07-26 20:17] danlozano commented on #24
Fixed!

https://github.com/IcaliaLabs/Presentr/releases/tag/0.1.8

[2016-07-26 20:17] danlozano commented on #22
Fixed!

https://github.com/IcaliaLabs/Presentr/releases/tag/0.1.8

[2016-07-26 20:20] gabrielPeart commented on #22
👍

[2016-07-27 06:23] gabrielPeart commented on #15
@danlozano @aasatt Any news about this issue?

[2016-07-27 22:59] #19 closed

[2016-07-27 23:00] danlozano commented on #15
@aasatt was working on this issue inthe #18 pull request.

It still was/is a work in progress, so I left some comments over there on the pull request's thread.

Any more input on your side @gabrielPeart would be welcome.

[2016-07-28 07:54] aasatt commented on #15
Yes. Still working on things. Haven't had a chance to revisit it yet.

[2016-07-28 07:55] gabrielPeart commented on #15
Cool @aasatt thanks for helping!

[2016-07-31 18:02] josejuanqm opened #26 "How to put custom view inside"
like credit card screenshot on the readme?

[2016-08-01 16:31] danlozano commented on #26
Hey @josejuanqm !

Good question.

I assume then, you are using the included AlertViewController, like shown in the readme.

But in reality, the intended or common use for Presentr is to be able to present your own View Controllers, which obviously have your own "custom" view inside of them.

You can create your View Controller in interface builder or in code, and then just use Presentr to present

[2016-08-01 16:34] danlozano commented on #26
Was that what you meant? @josejuanqm

[2016-08-11 14:29] niklassaers opened #29 "backgroundColor not showing, and transition type not as expected"
Hey, thanks for making this wonderful Presentr. :-)

With 0.1.8 I want to modally display my view controller upon a view controller that is vended by an UINavigationController that is itself modally presented on top of another UINaviagationController backed stack. I present my view controller like this:

[code]

and it appears fine, but the backgroundColor is black with alpha 0 according to the vi

[2016-08-11 14:56] gabrielPeart commented on #29
I tried to add your configuration to our current PresentrExample project.
Where:

And I got the attached result:

![simulator screen shot 11 aug 2016 16 54 27](https://cloud.githubusercontent.com/assets/194588/17592883/5b330a04-5fe4-11e6-93b9-730657d8430e.png)

As you can see, the background respects the defined color. Could you try to perform the same test using our current Master branch?

[2016-08-11 16:37] niklassaers commented on #29
I have made a sample that recreates the problem from the master branch and will send it to you shortly

[2016-08-11 16:42] niklassaers commented on #29
Have a look at https://www.dropbox.com/s/5peiklq9dhbsvqx/PresentrSample.zip?dl=0

See from Podfile that I use the latest commit on master
Open up PresentrSample.workspace, go to ViewController.swift and remove "/*" and "*/" that comment out the code around viewDidAppear. Launch the app in the simulator and see that a view controller with a yellow box with height 393 and red surroundings appears fr

[2016-08-11 19:19] gabrielPeart commented on #29
@niklassaers I noticed that if when you are performing the `customPresentViewController` in the `viewDidAppear` scope you trigger this issue. If you call if from a button action (just an example) it works perfectly.

I'll check it later, but seems to be connected to the fact that is not properly rendered in the moment when it is consumed. Could you give a try?

Thanks for reporting this use case.

[2016-08-12 06:59] gabrielPeart commented on #29
@niklassaers could you try changing your TheModalViewController class to the following code:

[code]

In a nutshell I moved the Presentr outside the `viewDidAppear` scope to have time to be created in its plenitude.

[2016-08-13 18:51] niklassaers commented on #29
Hi @gabrielPeart, thank for getting back to me so swiftly. :-) Your solution, as well as just delaying it with a dispatch_after in viewDidAppear both work great. :-) I must admit I do not understand why exactly, as at didAppear time I expect the view to be all right, but this solves the problem in my app and the example. :-) If you have the time to explain, I'd love to understand better why.

[2016-08-14 06:52] josejuanqm commented on #26
Great, Thanks!! thats exactly what i meant. @danlozano  👍

[2016-08-14 06:52] #26 closed

[2016-08-14 10:46] gabrielPeart commented on #29
@niklassaers Glad to know that works. I believe that we could close this issue now :)
Of course, we can stay in touch and I can explain :)

[2016-08-14 12:28] niklassaers commented on #29
Yupp, closed :-)

[2016-08-14 12:28] #29 closed

[2016-08-16 16:49] cosmo1234 opened #30 "Image"
How can i add image on the view

[2016-08-21 06:31] enkh-amgalan opened #31 "Dismiss custom viewcontroller on selecting tableview cell"
I have modal view controller with tableview. Also dismissing view controller on selecting tableview cell. But modal view controller is dismissing after 10 - 20 seconds.

[2016-08-26 03:33] levuhai commented on #26
How to add buttons in a custom pop up view? How to handle event by these buttons?

[2016-08-26 11:43] gabrielPeart commented on #26
@levuhai
If you check the PresentrExample you will be able to get familiar with the API.

You can present any UIViewController subclass (to have your custom pop up view). You handle events in the same way as you would handle in a normal UIViewController.

[2016-08-26 16:23] danlozano commented on #31
Hi !

That's weird. So you are presenting a view controller with a table view, then in that tableview's didSelectRow you are calling dimissViewController on self? and that is taking 10-20 seconds?

Maybe seeing some sample code for that class would help.

[2016-08-26 16:27] danlozano commented on #30
Hi Cosmo,

Which view do you want to add an image to?

With Presentr you can present your own custom view controller with your own custom view created in code, or in interface builder.

If you are referring to the AlertViewController class included in the framework, that controller's view is currently not customizable, other than by settings the title, body and button texts.

[2016-08-26 16:37] danlozano commented on #29
Thanks for looking into this @gabrielPeart !

It's good that the work-around is working but I think I would like to look into why exactly it was happening and look into a fix por it. Maybe I should re-open and take a look.

:)

[2016-08-26 19:50] #5 closed

[2016-08-31 06:52] gabrielPeart commented on #31
@enkh-amgalan Hi, thanks for reporting. We haven't been able to reproduce the case. Could you provide an example?

[2016-08-31 06:57] gabrielPeart commented on #17
@tbaranes If I understood you correctly what is necessary to do is to create the viewport of the *modal* based on its context's viewport. So in your example, that yellow viewController will be the *context* and its viewport will be used to create and render the modal. This way will achieve what you are looking for.

[2016-08-31 06:59] gabrielPeart commented on #30
@cosmo1234 You are able to present any UIViewController you want, which means that you can add an image, button, video, map, you name it as subview to it.

[2016-08-31 06:59] tbaranes commented on #17
Well, I tried that way too, but never find any working solution. If you find it, I'm really interested :D

[2016-08-31 06:59] gabrielPeart opened #32 "Full Swift3 Support"

[2016-08-31 07:01] gabrielPeart commented on #17
@tbaranes I'm pretty sure this way will work.
I'm going to implement a simple way to achieve this result and hopefully add it for the next release!

[2016-08-31 07:02] gabrielPeart opened #33 "Dynamic way to define a current Presentr viewport"

[2016-09-01 12:17] tbaranes commented on #17
Looking forward for this release 😬

[2016-09-16 20:59] b992 commented on #32
+1

[2016-09-22 11:33] kapellanos commented on #32
+1

[2016-09-22 22:15] indiesk commented on #32
+1

[2016-09-23 08:20] gabrielPeart commented on #32
Thanks for pointing it out! I'll be updating the swift3 branch very soon.

[2016-09-25 17:06] u2194739 commented on #32
+1

[2016-09-26 09:02] ibeleliev commented on #32
+1

[2016-09-26 09:03] ivanyorgov commented on #32
+1

[2016-09-26 17:09] nfajardo commented on #32
+1

[2016-09-26 17:15] eldelentes commented on #32
+1

[2016-09-27 15:36] hunasdf commented on #32
+1

[2016-09-27 15:49] danlozano commented on #32
Should have Swift 3.0 version live on master/cocoapods, and an alternative Swift 2.3 branch out between today and tomorrow!

Thanks for your patience!

[2016-09-27 17:12] danlozano commented on #32
There are two new branches off of master right now.

**Swift3_gm** branch is working for now, if it's urgent you can point cocoapods to that branch. Still needs more testing before it's merged onto master and officially tagged for cocoapods (That should happen later on today).

There is also a working **Swift2.3** branch based on the 0.1.8 master branch release, if you need. That branch is probabl

[2016-09-27 17:14] #30 closed

[2016-09-27 17:14] #15 closed

[2016-09-28 18:05] gabrielPeart commented on #32
Hi guys, thanks for voting for it and supporting our library!
We are now officially releasing our new version with Swift 3 support :)

[2016-09-28 19:02] #32 closed

[2016-09-28 19:17] riyanpratama opened #36 "ViewController doesn't show"
Hi,

I tried to show my ViewController on my storyboard with
[code]
But it just give me blank black transparent screen. I make a sure if my view controller in storyboard has right class. But it still doesn't work.

Then I try to create ViewController with XIB and it works. My question is, is it support to show view controller on storyboard? Am I missing some step here?

Thank you!

[2016-09-28 19:20] danlozano commented on #36
Hi Riyan,

Hmmm I think the issue might be because of this line:

Let controller = AsdViewController()

When instantiating a View Controller from a storyboard you need to do something like this:
Let controller = storyboard.insantiateViewControllerWithIdentifier("asdViewController")

My syntax is probably wrong, but you get the idea :)

[2016-09-28 19:27] riyanpratama commented on #36
[code]

It works like a charm. Thank you so much, Danlozano!

[2016-09-28 19:27] #36 closed

[2016-09-28 20:14] danlozano commented on #36
YES, you're welcome!

If the _View Controller_ you are currently on is **in** the storyboard, you can just call on the included property on the _View Controller_ self.storyboard , but if you are outside a storyboard you first have to get the storyboard, like you did so in your comment.

Good luck, thanks for using Presentr!

[2016-09-30 12:27] sam961 opened #37 "SWIFT 2.3 ios compatibility"
Hi,
why presenter 0.2.0 is not compatible with ios 8 ?

[2016-10-01 08:52] writeincodes commented on #37
is there any branch supporting Swift2.3 ?

[2016-10-01 09:34] sam961 commented on #37
yes 0.2.0 but it supports > ios 9 ... I dont know why it dont support ios 8 too

[2016-10-02 21:30] danlozano commented on #37
0.2.0 should support iOS 8 & Swift 2.3.

I'll fix the 0.2.0 podspec's as soon as possible.

[2016-10-03 17:06] danlozano commented on #37
**Version 0.2.1** should be working with Coocapods. Disregard version 0.2.0.

It's the same code, just updated the Podspec to support iOS 8.0 and onward.

Let me know if you have any problems with it.

[2016-10-04 09:45] kidsid-Ixigo commented on #37
Updating to 0.2.1 gives compiler errors on swift 2.3.
<img width="312" alt="screen shot 2016-10-04 at 3 14 38 pm" src="https://cloud.githubusercontent.com/assets/22613154/19069633/4f37edba-8a45-11e6-9be2-72a8f504abae.png">

[2016-10-04 16:33] danlozano commented on #37
Are you sure you are in a Swift 2.3 project?

Because those errors are because in Swift 2.3 there are some small changes to the SDK. Some of them being that those delegate parameters are no longer optional.

Maybe 0.2.0/0.2.1 should be Swift 2.3 & iOS 9 onwards.

Let me look into it.

[2016-10-04 17:08] kidsid-Ixigo commented on #37
Just cross checked and realised its swift v2.2. Sorry! By the way which version you will recommend then?

[2016-10-04 17:14] danlozano commented on #37
Awesome! Was scared for a bit 😆

Mmmm between 0.2.0 & 0.2.1 it's the same source code. The only difference is that 0.2.0 has a minimum target of iOS 9.0 on cocoapods and 0.2.1 has the minimum of iOS 8.0.

But what I really recommend is using Presentr v1.0.0, which is Swift 3.0 & iOS 9.0 onwards, as it's the only version that will be maintained onwards. But I realize that not everyone can make the

[2016-10-04 18:54] sam961 commented on #37
Thank You, 0.2.1 is working with swift 2.3 on ios>=8

[2016-10-04 18:54] #37 closed

[2016-10-05 05:44] josejuanqm commented on #11
#34

[2016-10-10 01:25] regynald commented on #2
This project already supports carthage. The only thing needed to add carthage support is making sure your Xcode schemes are shared, which they already are.

I'll create a PR updating the readme.

[2016-10-12 00:27] danlozano commented on #2
Awesome, thanks @regynald !

[2016-10-12 00:27] #2 closed

[2016-10-12 02:17] #11 closed

[2016-10-16 07:05] choryuidentify opened #40 "Can't scroll Custom ViewController after version 1.0.1!"
Hi, I'm using this library make some custom viewcontroller popup, and it's scrollable TableViewController. but it doesn't scrolled when update to 1.0.1.

I think this problem caused by new added Dismiss on Swipe function, cause I disable dismissOnSwipe option, but it's still can't scrollable... I've downgrade to 1.0.0, It's works good.

Here is my video.
[1.0.0](https://www.youtube.com/watch?v=atk

[2016-10-17 16:25] danlozano commented on #40
Hi @choryuidentify

Thanks so much for the detailed description and videos, that is awesome!

Yeah, the issue is probably due to the new dismissOnSwipe feature. It seems logical that the feature would make scroll views not work properly.

BUT if you disable the dissmissOnSwipe it SHOULD work, I will try to fix this today!

I think the dismissOnSwipe should be disabled by default, and therefore it

[2016-10-18 00:51] danlozano commented on #40
@choryuidentify Fixed!

dismissOnSwipe will be by default, false AND if it is false the gesture recognizer will not be added to the view controller, thus preventing any scroll view issues.

If the user wants to activate dismissOnSwipe that is up to them, but they must consider that this will not work properly with a scroll view or subclass(table view, collection view, etc.)

Thanks for using Prese

[2016-10-18 00:51] #40 closed

[2016-10-19 10:09] choryuidentify commented on #40
Wow! Thanks! It works Perfectly!!

[2016-10-19 11:15] Joker666 opened #41 "Initial loading lag"
Great library 👍

I just tried to use the library, found out first time load has a some initial waiting lag, the later invocations are not hurt by this issue. I didn't get a chance to look into the code to see which function is taking time, but if this is a known issue, probably an updated readme would let everyone know about it :)

[2016-10-19 15:42] danlozano commented on #40
Awesome!

[2016-10-19 15:46] danlozano commented on #41
Hey @Joker666 !

No, it's not really a known issue that I know of, but we should look into it to see what's happening.

Tell me a little bit more. Is the lag when you are presenting the provided AlertViewController class, or is it when you are presenting one of your own view controllers?

What presentation and animation type are you using?

Thanks 👍

[2016-10-21 15:04] josejuanqm commented on #41
I also got this issue when working with big projects that had async tasks, maybe trying to dispatch to main?

[2016-10-23 05:46] Joker666 commented on #41
One of the provided AlertViewController class, I actually got the same problem in the example code, but I had to go to an old commit before 2.3 and 3.0 transition, since I am still using 2.2

[2016-10-24 15:51] danlozano commented on #41
@Joker666 Ok, so the lag IS when you use the AlertViewController? Not when presenting your own view controllers?

I just want to investigate if the problem is with the AlertViewController itself, or with the Presentr presentation.

So just so I know, what Presentr version are you using? What iOS version, simulator, etc?

[2016-10-25 15:27] Dwar3xwar commented on #41
I've also run into this problem while using the 3.0 update. This seems to be only an issue when running on a iPhone 5s device. Running it on the 6,6s,7,7s seems fine.

[2016-10-28 09:43] bulolo opened #43 "example runned by show me error"
example runned by show me:

dyld: Library not loaded: @rpath/Presentr.framework/Presentr
  Referenced from: /var/containers/Bundle/Application/6D3D3E94-376B-4F63-B379-FC559F789D65/PresentrExample.app/PresentrExample
  Reason: image not found
(lldb)

[2016-11-01 02:25] danlozano commented on #43
Hmmm...

So you're trying to run the example?

Try removing the framework (from the example project), and adding it back again. (You can build the framework, then reveal in finder, then drag to example project).

Let me know what happens!

[2016-11-01 17:35] danlozano commented on #43
This will be fixed soon, importing framework into example project will be done via cocoapods.

[2016-11-01 17:35] #43 closed

[2016-11-03 05:11] patthehuman opened #46 "Issue with modal popup and segued"
I've been having an issue with modally Presented view controllers. It looks like if I segue over a Presented view controller with a width and height that is smaller than the view, it stretches out to the full width and height of the screen.

[2016-11-03 07:02] gabrielPeart commented on #46
@patthehuman Thank you!
Could you give us a simple prototype that explicitly shows this behaviour? Will save us a lot of time.

[2016-11-03 17:13] danlozano commented on #46
Hey @patthehuman

Mmmm so you are presenting your view controller using a storyboard segue?

Storyboard segues are normal iOS presentations, and those are always full screen.

If you want to make a custom presentation, you must do the presentation in code, using a Presentr object.

[code]

[2016-11-04 05:02] patthehuman commented on #46
Hey, I'll try to get some code together by the weekend.. I'm in PST timezone.

Actually, what I'm doing is presenting a custom presenter using similar code to what you just posted, but I am then calling other segues on top of it.

For example, I use customPresentViewController to show a custom view, and then i segue to different storyboards using interface builder storyboard outlets.

Hope that ma

[2016-11-04 08:18] PhuocLinh opened #47 "Cannot run the Example"
When I tried to build. It showed error: [https://www.dropbox.com/s/u3hg150x8u2y3xt/Screen%20Shot%202016-11-04%20at%203.17.32%20PM.png?dl=0](url)
by Xcode 8.1

[2016-11-04 16:44] danlozano commented on #47
Hmmm

It say's that PresentrDelegate is an undeclared type. PresentrDelegate was a new type that came out on v1.0.1.

Can you do a pod update on the Example Project and see what happens?

Thanks!

[2016-11-04 16:46] danlozano commented on #46
Oooh got it! ... That makes more sense to me now.

I have never tested that use case, yeah let's get some code to test it out and figure out what's happening and fix it 👍

[2016-11-05 20:02] patthehuman commented on #46
Hey guys,

So I use the following code to pop up a "You need to log in" modal... The modal has buttons on it to log in with facebook, email, etc...

`static let loginModal: Presentr = {

            let width = ModalSize.custom(size: 275.0)
            let height = ModalSize.custom(size: 340.0)
            let center = ModalCenterPosition.center
            let customType = PresentationType.custom

[2016-11-07 17:25] danlozano commented on #46
OK, got it now. Will try to recreate and see what's going on. If you have any ideas let's discuss it here.

So are these are "push" segues  inside a nav controller ? or "presentation" segues ?

What is happening is that somehow the storyboard segues are messing up the transitions/animation/presentation.

I assume if you presented or pushed the other VC's in code (without segues) this probably woul

[2016-11-08 09:26] malkabani opened #49 "empty tableview inside viewController with custom type"
hi
i have custom PresentationType with custom height and width
and inside it i have viewController that content tableview
this table view hasn't any data (some time have cells , and some times there are no cell to display)
if tableview hasn't any data then it should disable its scrole
but when user try to swipe tableview bug appear and the current view controller go to the top off screen
can help

[2016-11-08 17:01] #47 closed

[2016-11-08 21:14] danlozano commented on #49
Hi @malkabani

Are you using the latest version of Presentr ? 1.0.3 ?

This could be an issue with the swipe to dismiss feature, that was disabled by default on the latest versions.

Could you update and see if it still happens?

Thanks!

[2016-11-09 23:44] fl0549 opened #50 "Adapt default AlertViewController height to content body like UIAlertViewController"
Hi,
I want to know if is possible to size to fit to content body like native UIAlertViewController when presentationType is .alert ?

[2016-11-10 08:19] tuancm commented on #46
Hi @danlozano,

I think I have exactly the same issue as @patthehuman . Please see attached sample code.
[Presentr_Sample.zip](https://github.com/IcaliaLabs/Presentr/files/582796/Presentr_Sample.zip)

[2016-11-10 14:33] malkabani commented on #49
Hi @danlozano
after make pod update this issue is fixed
thank you

[2016-11-10 14:35] gabrielPeart commented on #49
@malkabani Nice, glad to know.
Thank you @danlozano

[2016-11-10 14:35] #49 closed

[2016-11-10 16:57] danlozano commented on #50
Hi @fl0549

Currently that is not possible.

Our included AlertViewController knows nothing about it's presentation, so that class could not have that functionality.

The .alert PresentationType is a fixed size that matches the default Alert in iOS.

As it stands now, if you wanted to do something like that you would have to use a .custom PresentationType and figure out the sizing that your VC wil

[2016-11-10 16:57] #50 closed

[2016-11-10 17:01] danlozano commented on #46
@tuancm nice, let me check it out!

@patthehuman So are the segues "push" or "present" segues?

[2016-11-10 17:27] danlozano commented on #46
Ok, @tuancm I figured out what the problem was, and I guess this probably applies to @patthehuman as well!

Basically, you can do a regular iOS presentation of a ViewController, which is usually full screen. Or you can do it in code, via **Presentr**, which let's you handle sizing/presentation/transition/etc... without having to do much code.

When you do a presentation in interface builder using

[2016-11-13 03:13] patthehuman commented on #46
Thanks for the sample code. However, it looks like this is still an issue if you present a facebook login controller on top. In this case, the developer doesn't have access to customize the FB login, so how can we present the facebook controller custom?

[2016-11-14 09:59] tuancm commented on #46
I agree with @patthehuman . I can fixed the issue within my code. But there's not so much I can do with third party library like facebook/google authenticator.

I believe if the issue in my sample code is fixed in a fashion that doesn't me to change the way SignUpViewController is being presented (either using Segue in Storyboard, or using default UIViewController method in code), Presentr will wo

[2016-11-14 17:52] danlozano commented on #46
Hey guys, thanks for the input.

Yeah, we have arrived at the actual problem. Usually presentations in iOS are pretty boring full screen presentations, with some exceptions. That's why Apple introduced the custom view controller presentation API, in which you could customize your **own** presentations to be any way you like.

But the process to do that was not simple, you had to conform to a coupl

[2016-11-15 20:41] danlozano commented on #46
Also, what version of the Facebook SDK are you using?

In my experience, the latest version of the Facebook SDK does not do a presentation, it takes you to the actual Facebook app, to approve, then back to your own app. Soooo, I'm confused 🤔

[2016-11-17 23:45] DannyJi opened #51 "Accessibility"
I am working with a bunch of presentr's to show various controllers throughout my app.  I love it.

I am asked to do an Accessibility sweep in prep for use by government.  They test using VoiceOver.  When I use Voice Over, I am unable to dismiss the presented controller, by tapping outside.  Also when tapping and dragging on the blurred background behind, Voice Over is reading my underlying contro

[2016-11-18 04:15] DannyJi commented on #51
I was able to get  `accessibilityViewIsModal` to work properly.  Now Voice Over ignores UI elements in underlying view (below the blurred background in my case)

[code]

I am still not having luck dismissing the controller when VoiceOver is on.  I may have to resort to adding a close button in the corner.  Hoping someone has another solution

[2016-11-18 07:15] tuancm commented on #46
Hi, Yes I'm using the current Facebook SDK. For most cases when user has facebook app installed on their phone, it will invoke facebook app. Otherwise, an in-app web browser will show up to let user login. The same things happen with Google sign in.

In my case, I'm using following pods to handle facebook/google login:
[code]

[2016-11-18 17:04] danlozano commented on #46
Oh ok, so this happens when the user does not have Facebook installed, and the SDK modally presents a web view?

Yeah, IDK how we would be able to get in there and change the way they present their own view controllers.

Maybe you should try separating out your own modals/popups/VC's, from the third party FB/Google logins.

I'm still open to other suggestions anyways, so I'll leave this open for d

[2016-11-18 17:42] danlozano commented on #51
Hey @DannyJi !

Thanks for using Presentr, I'm glad you love it.

I don't have much experience with Accessibilty, I just assumed that everything would work out of the box. But this is something really important, and I'd be glad to look into it.

So, the first problem was that Voice Over was reading the views behind the blurred background, but you managed to fix that using the accesibilityViewIsMod

[2016-11-18 18:18] DannyJi commented on #51
Hey @danlozano,

Thanks for your response.

1) Yes.  Adding accesibilityViewIsModal to the presented VC's **view** solved the problem where, without that VoiceOver would be "speaking" items behind the view.

2) Yes.  I cannot tap outside the presented view to dismiss the VC as normal when VoiceOver is active.  Without it, it works as expected.  I do not have sample code to try at this point (getti

[2016-11-19 09:11] NasrullahKhan opened #52 "is there any way to get the callback or copmletion when customPresenter dismissed"
I am using custom presentr controller, i want to do some task after dismiss of presentr. how to know that custom presentr is dismissed?

[2016-11-19 10:11] NasrullahKhan commented on #52
@gabrielPeart @edolopez  @kurenn  @mseijas  @thelastinuit  is there any way?

[2016-11-19 13:57] danlozano commented on #52
Well there are a couple of ways.

Presentr only automatically dismisses your presented view controller when someone taps on the background. If you want to know when that happens, you have to conform to the 'PresentrDelegate' protocol on the view controller you presented. (You don't have to set any delegate, just conform to the protocol)

Inside that method, you can do anything, then return True so

[2016-11-19 13:57] #52 closed

[2016-12-01 19:19] DannyJi commented on #51
Hey @danlozano,

For the second issue (tapping the background does not dismiss the presented view controller), I first started as we discussed - adding a close button begrudgingly.  While I got this to work, I was not happy with the way it looked and the code I needed to copy around.

I did some more research and found a great article [Adding Accessible Behavior](http://ronnqvi.st/adding-accessibl

[2016-12-01 23:17] danlozano commented on #51
Hey @DannyJi !

Thanks for the help, I've been really busy.

Let me see if there is a way to integrate that functionality inside Presentr, it would be great!

Thanks for doing the research :) I'lll get back to you soon.

[2016-12-08 02:19] SeongBrave opened #53 "swift2.3crash"
Presentr Version	0.2.1 , ios 8.0  is crash when  dismissOnTap

[code]

[2016-12-09 20:55] danlozano commented on #53
Hi @SeongBrave

Thanks for the info!

Could you post the crash error message here to see what could be the problem?

[2016-12-12 04:03] pprevalon opened #54 "how to make viewControllers contraint inside of overlay"
how can i make viewController items constraint to the overlay top left right and bottom. Also when i present a view view controller over the overlay when that view controller dismiss i get the full view of the overlay and then it shrink. can this be fix.

[2016-12-12 07:36] SeongBrave commented on #53
Hi @danlozano
 there is not any error message, please you can get message for this picture
![image](https://cloud.githubusercontent.com/assets/10784393/21091327/73eaecea-c080-11e6-9a8e-a60d978bbfdd.png)

if you user Presentr version 0.2.1 on ios 8.0 device ,when you dismiss ,ti must be crash

[2016-12-12 17:22] danlozano commented on #54
Hi!

When you create your own view controller in storyboard you can set up Auto-Layout on it's views the way you normally would.

Can you elaborate on the 2nd part. What is the "overlay" you are referring to? Do you have sample code or project I can use to check it out?

Thanks!

[2016-12-12 17:31] danlozano commented on #53
Interesting...

Let me look into it, thanks for the info!

[2016-12-13 08:55] SeongBrave commented on #53
I am sorry, please
![20161213165129_1_20144325](https://cloud.githubusercontent.com/assets/10784393/21133602/8b47d9fa-c154-11e6-8bdb-71cd6326ec39.jpg)

[2016-12-21 11:47] leovu0703vn opened #55 "Crash on ios8 (Presentr ver 0.2.1)"
I really love your lib and I'm using quite much in my projects. It's running good in all ios version >= 9, however I just got the crash error in ios8 environment. I checked the crash error and saw that the presentingViewController was nil. I tried to fix the pod by myself but I couldn't figure why. Please help me solving this problem.

![nh ch p man hinh 2016-12-21 luc 18 35 44](https://cloud.gith

[2016-12-22 02:23] leovu0703vn commented on #55
*solve
found out and solve with this code. my ViewController is a XIB file.

 if #available(iOS 8, *) {
                                        let controllerVC = ViewController(nibName: "ViewController", bundle: nil)
                                        self.customPresentViewController(customPresenter, viewController: controllerVC, animated: true, completion: nil)

[2016-12-22 02:31] #55 closed

[2016-12-22 20:11] danlozano commented on #55
Hey @leovu0703vn !

Hmmm the iOS 8 thing is probably caused because the custom presentation API changed in iOS 10, and now the presentedViewController inside the Presentation controller is now optional, and sometimes is missing.

I will look into that issue. BUT, in the meantime two things.

1.- Your code in the last screenshot seems likely to cause an issue because any Presentr object (in your ca

[2016-12-22 20:12] #54 closed

[2016-12-25 14:30] TheSDTM opened #57 "Question: More than two buttons"
Hello. Using origin Apple alert controller I can add more that 2 buttons and handle all of them. How can I do exactly the same using Presentr? As I can see, there is possible to use only 2 AlertActions. So, I think that it is possible to create new ViewControllers with buttons. But how should I handle them in my main ViewController? Thank you.

[2016-12-27 21:13] danlozano commented on #57
Hey @TheSDTM !

Yeah, Apple's alert controller is **much** more full-featured unfortunately. Presentr's alert controller only has the option for one or two. Maybe in the future I will improve that, but there is no plan to do that at this moment.

You could just create your own view controller, use auto-layout on it to make sure it works well in any size, and then present it using Presentr.

To han

[2016-12-27 21:14] #57 closed

[2016-12-29 09:28] jadslim313 opened #60 "How to set constraints?"
I have a viewcontroller in storyboard, that I am using as a custom presenter. Im setting constraints for the viewcontroller, but when it shows as a custom popup, all my views are all over the place..

I'm not exactly sure how to set proper constraints to make this work, could you please guide me a little,

Thanks!

[2016-12-29 15:58] danlozano commented on #60
Hey @jadslim313 !

Well basically with auto-layout the goal is to make a screen work in any size (iphone, plus, ipad, etc.) so Presentr is counting on that so that it does not matter the view controller size it looks "good".

There are some limits to this of course, for example if you present a tiny view controller size where your views do not fit, it will obviously not look good. But generally yo

[2016-12-29 15:58] danlozano commented on #60
Let me know if you can fix this. Maybe with some sample code.

Thanks for using Presentr :)

[2016-12-29 15:58] #60 closed

[2016-12-30 21:16] jadslim313 opened #61 "is it possible to present the custom view under the status bar"
[code]

my presenter is defined as shown above, however i want it to show under the status bar, is that by anyway possible?

[2016-12-30 21:53] danlozano commented on #61
[code]

This should work. I just changed the center property to be based of a origin of x = 0, and y = 20, to go over the status bar. Have not tested it out, but should work. :)

Let me know.

[2017-01-03 11:07] emmanueltugado opened #62 "Is it possible to dismiss the presented controller programatically?"
Is there any way for me to dismiss the presented viewcontroller programmatically? Something that does the opposite of customPresentViewController(_:viewController:animated:completion:)?

NVM. dimiss(:animated:completion:) does the job just fine.

[2017-01-03 12:13] #62 closed

[2017-01-03 17:12] danlozano commented on #62
Yes!

Thanks for using Presentr 👍

[2017-01-04 22:45] #61 closed

[2017-01-06 08:34] niklassaers opened #63 "Error when compiling with Carthage"
my Cartfile:
`github "IcaliaLabs/Presentr"`

Result:
[code]

[2017-01-06 12:48] fpg1503 commented on #63
This looks like an issue with SwiftLint

[2017-01-10 21:07] gabber3000 opened #64 "keyboardTranslationType and customPresentViewController is possible?"
I can apply the `keyboardTranslationType = .moveUp inside` a `customPresentViewController(customPresenter, viewController: cambioPasswordcontroller, animated: true, completion: nil) ` unfortunately this does not seem to work. This is my code:
[code]
How can I solve this problem?
thank you

[2017-01-11 20:06] danlozano commented on #64
Hi @gabber3000

I think the issue is that the keyboardTranslation functionality has been activated and tested on only on the .popup type.

I'll look into making it work for other types, but I think custom presentation types are too vague (by design) so it would be complicated to design this functionality and have it work well on all cases.

But will definitely look into this and see what we can do

[2017-01-11 20:25] gabber3000 commented on #64
Thank you for your help. Currently I have solved this problem by using this framework: [](https://github.com/hackiftekhar/IQKeyboardManager)
It seems to behave well.
Congratulations for the good work :)

[2017-01-11 21:05] danlozano commented on #64
Interesting! I'm glad it worked out.

I'll check out the framework see what it's doing :)

Thanks for using Presentr!

[2017-01-11 21:05] #64 closed

[2017-01-12 08:47] sham3k commented on #41
Had the same problem.
It is not specific to this library.
Use `DispatchQueue.main.async { self.customPresentViewController(...) }` for presenting View Controllers

[2017-01-31 17:31] #46 closed

[2017-02-01 13:08] arasu01 opened #65 "Supporting iOS 8 with swift 3.0"
I have a project in swift 2.3 which used this library. It supports from iOS 8 and above.
Now I'm migrating the code to swift 3.0, but this library doesn't have swift 3.0 support for iOS 8.
How can use this library with swift3.0 support for iOS 8?

[2017-02-01 17:03] danlozano commented on #65
Should be fixed in version 1.1.1 , just a quick fix in the Podspec.

Let me know if you have any problems.

Thanks! :)

[2017-02-01 17:03] #65 closed

[2017-02-06 08:46] arasu01 commented on #65
I was not able to install the latest version 1.1.1.

So I did pod search Presentr. I can't find the version 1.1.1 in that. Please find the attached image

[2017-02-07 02:06] danlozano commented on #65
That's weird!

Maybe it took a while to get updated.

On the cocoapods website it lists it as 1.1.1

http://cocoapods.org/pods/Presentr

<img width="947" alt="screen shot 2017-02-06 at 8 05 31 pm" src="https://cloud.githubusercontent.com/assets/2406956/22674819/b79964b4-eca7-11e6-95f1-e889dd713998.png">

There it is! 👍

[2017-02-08 09:27] chlebta opened #66 "Custom background view"
is it possible to customise the background and use my own view instead of the black one ?

[2017-02-08 16:35] danlozano commented on #66
Hey @chlebta

You can change the background color and opacity with these two properties on your Presentr object.

[code]

Or you can choose to have a blurred out background with these other properties.

[code]

[2017-02-08 16:35] #66 closed

[2017-02-13 08:05] otymartin opened #67 "Swipe to dismiss not very responsive"
@danlozano

I have my alert appearing from bottomhalf above my `ChatViewController` which uses a `UICollectionViewController`. i have `dissmissOnSwipe = true` but you really have to struggle or try multiple times before it can actually swipe/dismiss the presentr.

How come?

[2017-02-13 16:38] danlozano commented on #67
Hey @otymartin

Interesting. Let me look into it.

I'm planning to do a big refactor with some big new features in the coming weeks so I'll definitely have that in mind.

Can you share any more information about the issue. Does it always behave like that? or just in that case int that chat view controller?

So I can try to reproduce.

Thanks for using Presentr! :)

[2017-02-13 16:45] chlebta opened #68 "Present VC inside the custom VC wired behaviour"
My custom view is presenting another ViewController and when dismissing this second VC I got wired behaviour check out the image

![img_0383](https://cloud.githubusercontent.com/assets/1204608/22892856/41c71c50-f214-11e6-9dc5-15ee6064110a.PNG)
![img_0382](https://cloud.githubusercontent.com/assets/1204608/22892858/41ef9130-f214-11e6-9a21-b24dd7594adf.PNG)
![img_0381](https://cloud.githubuserconten

[2017-02-13 18:39] otymartin commented on #67
Hey its the same behaviour all around. For even in the examples I just added this to each alert and same behaviour. `presenter.dismissAnimated = true
 presenter.dismissOnSwipe = true`

Also topHalf alert requires swipe down to dismiss which should be swipeUp.

The expected behaviour from my perspective is spoiled by apps like Snapchat. Where the swipe is pretty interactive and the whole alert view

[2017-02-15 07:22] parth51 opened #69 "Is it possible to dismiss presented controller with some delay?"
While presenting custom controller its animation works fine. But while dismiss it's so fast that doesn't look like alert dismiss.
I am using below line for dismiss controller

[2017-02-17 18:24] thierrybucco opened #70 "Popup moves after hiding keyboard"
Hi,

I am using Prensentr to display a TableView and a searchBar. It works well.
When I cancel search by touching Done in keyboard, popup moves on the left side.
See screenshot.

Do you have an idea ?

![1](https://cloud.githubusercontent.com/assets/12764744/23077875/443becd8-f514-11e6-94f2-cb3f1ab3d2c8.png)
![2](https://cloud.githubusercontent.com/assets/12764744/23077877/471ddf06-f514-11e6-8c2c-

[2017-02-17 18:34] thierrybucco commented on #70
Presentation type is:

`let presentationType: PresentationType = PresentationType.custom(width: ModalSize.sideMargin(value: 10), height: ModalSize.sideMargin(value: 30), center: .center)`

[2017-02-22 08:08] JackTheMico opened #72 "When the PopupViewContreller dismissed,the UITableViewController which presented it,ran reloadData() didn't work"
**Here's my PopupViewController and how I use it in my UITableViewController.**
![popup](https://cloud.githubusercontent.com/assets/19216598/23202078/54781e30-f917-11e6-9a2b-5ade9bf83b53.png)

![popintbcontroller](https://cloud.githubusercontent.com/assets/19216598/23202058/43daf566-f917-11e6-95ea-811bf06c8c51.png)

Usually,when `DispatchQueue.main.async {
                self.tableView.reloadData

[2017-02-22 09:04] midgard commented on #69
+1

[2017-02-22 16:27] danlozano commented on #69
Ok, let's see. First let's try to debug it.

So you are creating a Presentr object on your presenting view controller, and holding onto it as an instance property correct? That is very important so that the Presentr object remains in memory for the whole present/dismiss.

What did you set for .transitionType and .dismissTransitionType ?

From where are you calling the dismiss? On the presented vie

[2017-02-23 13:17] parth51 commented on #69
Hi @danlozano

Yes, I am holding a presentr object in memory.

I set below property for presenting controller.

I calling dismiss controller from the presented view controller.

[2017-02-23 13:19] midgard commented on #69
@danlozano

Presentr like this:

And I'm calling my login form:

And I'd run "cancel" command on my login form:

Presentation is 0.7 or 0.8 seconds
Dismiss is 0.1 or 0.2 secons

[2017-03-02 15:56] midgard commented on #69
@parth51 did you found any solution?

[2017-03-03 04:53] parth51 commented on #69
Nope, I didn't.

[2017-03-05 12:24] tbaranes commented on #17
@gabrielPeart Did you try to make this working?

[2017-03-06 07:45] gabrielPeart commented on #17
@tbaranes not yet. Sorry about that. Have been extremely busy.

[2017-03-20 18:14] danlozano commented on #72
Hi! Sorry for the late response, have been really busy with work, but I'm taking this whole week to look over all the issues and PR's.

I just want to understand your problem a little bit better.

So it does work when you call
[code]
But not when you call
[code]

Or are you trying to say that the table reloading sometimes works and sometimes doesn't?

[2017-03-20 18:17] danlozano commented on #70
Hi! Sorry for the late response, have been really busy with work, but I'm taking this whole week to look over all the issues and PR's. Thanks for your patience!

So basically it is working well, the presentation, dismissal, etc...

The problem is that when you dismiss the keyboard, after searching, the popup moves to the left side?

If you have some sample code I can try out that would be of great

[2017-03-20 18:22] danlozano commented on #69
Hi! Sorry for the late response, have been really busy with work, but I'm taking this whole week to look over all the issues and PR's. Thanks for your patience!

Let me try your sample code to see if I can recreate and find the bug.

So basically the animation is working, i.e. it's dismissing with the transition type you selected. The problem is the duration of the actual dismissal?

I'm going to

[2017-03-20 18:29] danlozano commented on #68
Hi! Sorry for the late response, have been really busy with work, but I'm taking this whole week to look over all the issues and PR's. Thanks for your patience!

So you are using Presentr to present the first view controller, which works correctly because it shows your controller in the bottom as you want to.

Afterwards, you are presenting the second controller, then after dismissing that second

[2017-03-20 18:30] #63 closed

[2017-03-20 18:36] #41 closed

[2017-03-20 19:05] danlozano commented on #69
Got it!

Realized I was using a UIView animation method which included damping and velocity which was making the presentation and dismissal transitions act in different ways, hence the different speed.

Although this might be useful for someone implementing a custom transition, for now I've just removed that and use the normal UIView animation method which just takes the duration. This has fixed t

[2017-03-21 01:10] JackTheMico commented on #72
Thanks for the response! What I'm trying to say is that after you called
`DispatchQueue.main.async { self.tableView.reloadData() }`
Then the next two methods which should be called are
`overried func tableView(_tableView:UITableView, numberOfRowsInSection section:Int)->Int {}`
And
`override func tableView(_tableView:UITableView, cellForRowAtIndexPath:IndexPath)->UITableViewCell {}`
But these two m

[2017-03-21 19:09] danlozano commented on #17
@tbaranes @gabrielPeart I think I finally cracked this!

Have been extremely busy lately, but I finally have a couple of days to work solely on open source stuff. This was one of the first things on my to-do list.

@tbaranes Yeah, the "shouldPresentInFullscreen" property of UIPresentationController is of no help, and since in order to get the functionality you need you would need to set the UIModa

[2017-03-21 19:10] danlozano commented on #17
If any bugs come up we can start a new issue.

[2017-03-21 19:10] #17 closed

[2017-03-21 19:10] #33 closed

[2017-03-21 19:12] #69 closed

[2017-03-21 19:21] gabrielPeart commented on #17
@danlozano great work! Thank you!

[2017-03-21 20:36] danlozano commented on #53
Still having this issue?

Swift 2.3 is no longer supported in Presentr but if it's a quick fix I'll can look into it.

But nothing comes to mind as what can be causing this.

[2017-03-21 20:44] danlozano commented on #51
Hi @DannyJi !

Thanks for sharing the info. I've been really busy at work lately so I have not had time to update or look into Presentr's issues. Finally have some days off to work solely on my open source projects so I'm looking into everything.

So basically for voiceover to ignore the elements under the modal you have to set
view.accesibilityViewIsModal on the view controller.

And if you want

[2017-03-21 20:45] #51 closed

[2017-03-21 20:45] #53 closed

[2017-03-22 07:16] tbaranes commented on #17
Woh, happy to hear that! I will try it this morning, thanks!

[2017-03-22 23:38] danlozano commented on #72
Oh ok.

Well if you're calling reloadData on a table view and those two methods are not being called that means that the releadData is not working.

Is your delegate/data-source everything setup correctly?

Can you share your code in text-form so I can look over it maybe see what's going on.

[2017-03-23 01:01] danlozano commented on #67
Hello!

Sorry for the late response, I've been really busy with work, but I'm taking this week off to work on my open source proyects.

- Just refactored the swipe to dismiss feature. I think the responsiveness is greatly improved. 👍 It should work kind of like Snapchat where it moves with your finger. If you move it enough, it dismisses, if not, it goes back to where it was.

- Also, all presenta

[2017-03-23 01:02] #67 closed

[2017-03-23 01:11] danlozano commented on #72
There's no reason for calling it on the main queue since the Presentr delegate is called on the main queue.

[2017-03-23 01:34] JackTheMico commented on #72
# MainTableViewController.swift

[code]

# PopupViewController.swift
[code]

# mineCell.swift
[code]
## Podfile
[code]

[2017-03-23 01:45] JackTheMico commented on #72
![storyboard1](https://cloud.githubusercontent.com/assets/19216598/24228032/75a592ee-0fac-11e7-8b1b-a86681d3b5d6.png)
![storyboard2](https://cloud.githubusercontent.com/assets/19216598/24228056/9dad3b66-0fac-11e7-9700-5d857c0b121d.png)
That's all I got. Sorry about the project's name in 'Podfile',it was a mistake.

[2017-03-23 02:01] otymartin commented on #67
@danlozano wow excellent I will try it out.
Thanks :) 👍

[2017-03-23 03:11] danlozano commented on #72
Thanks for all the info!

This looks like it's a problem with your app code, for some reason the table is not reloading.

I would have architected the app a little differently but nothing stands out as me, it should be working, it should be reloading the table.

I will close this issue since this is outside Presentr, BUT if you can/want to submit a zip file with this sample code so I can run it I

[2017-03-23 03:11] #72 closed

[2017-03-23 08:44] chlebta commented on #68
@danlozano Yes I'm using presentr two present the first VC (the small one in bottom of screen) then when user click on first textfield here I present the second VC.

- How are you presenting the second controller? Using presentr or using a normal presentation
   => Normal `self.prensent()`

- In what VC are you holding on to the Presentr object?
   => In the `Main VC` that presenting the presentr

[2017-03-23 11:21] schmitzoide commented on #19
This is not working for me, although I have the animation defined for dismissing. Using Swift 3.0 and the latest release. Spent a couple of time here and I didn't manage to solve this.

[2017-03-23 15:12] danlozano commented on #19
That's weird. You can download the repository and check out the example project. All of the samples have working presentation and dismissal transitions.

If you are using the latest release, the only other thing that occurs to me is if you're not holding a strong reference, as a property, to your Presentr object. Under the hood Presentr acts as a delegate for the presentation, if you have a local

[2017-03-23 15:52] danlozano commented on #68
OK!

So doing some research this seems to be a bug with Apple's SDK's.

I managed to recreate the bug, I think. I presented the small modal on the bottom using you Presentr. Then I presented another controller, using the normal built-in way, then dismissed that modal.

AND I did get the bug, but just for a second. The first small modal appears full-screen for a second, and then after that it resiz

[2017-03-23 17:32] danlozano commented on #72
Checked your e-mail, fixed your problem!

- First I added log messages to each of your 3 table view methods, and realized that you callback was working, and reloadData() was calling number of sections and rows, so that was "working" as well.

- But later I realized that even though those two methods are being called, the cellForRowAtIndexPath mysteriously was not being called.

Scratched my head a

[2017-03-23 17:38] danlozano commented on #68
- Another solution I found. If set animated = false on the second VC dismissal, it also works properly.

I would recommend any of the other two solutions, but it did seem interesting that this fixed the issue as well.

[2017-03-23 17:58] danlozano commented on #68
I'll leave this issue opened for two reasons.

1. If someone else runs into this, I want the fixes to be available to them here.
2. To keep this open in case in the future this gets fixed by Apple or we find another way to fix/prevent this.

[2017-03-24 01:46] JackTheMico commented on #72
I finally aware of what I did wrong, I thought the static MainTableViewController and the one created by the
interface builder would be the same one since their addresses are exactly the same one.
But apparently, they are not the same one.
Sorry for bothering you so long , really appreciate your great help!
May happiness and success follow you wherever you go!

[2017-03-24 16:54] danlozano commented on #72
No worries!

:)

[2017-03-25 23:14] otymartin opened #73 "Cannot set Shadow after Update"
@danlozano
It seems I can no longer set a shadow.

In your new code, there is no initializers for the PresentrShadow struct.

[2017-03-27 01:19] danlozano commented on #73
Good catch!

Will fix it right away. 👍

I removed it because I thought, huh, this is not needed, struct's create an automatic memberwise initializer. BUUT aparently when you want that initializer to be public you have to do it yourself. Woops!

[2017-03-27 04:18] danlozano commented on #73
Fixed in version 1.2.1

Thanks!

[2017-03-27 04:18] #73 closed

[2017-03-27 08:30] tbaranes commented on #17
Sorry for the delay, I just test it, it's working as expected, impressive! Thanks for looking into this 👏

[2017-03-27 13:50] marciomeschini opened #74 "Version 1.2.1 appear to be broken"
Hello,

first thing: **thank you for this very nice framework!!!** Discovered  yesterday and I'm already in love with that 💯

I did some play with the sample project and everything was fine and smooth.
I then decided to import the library with Carthage into my client app but this is what I got:

[code]

The diagnosis it's right and when I open the Carthage/Checkouts/Presentr project Xcode complain

[2017-03-27 16:45] danlozano commented on #17
Awesome!

Release v 1.2.1 is out.

Had to release a quick .1 bug fix on PresentrShadow.

[2017-03-27 16:50] danlozano commented on #74
Hello!

Thanks for your interest in Presentr! Just released a major update so some small bug's are expected to appear here or there. I actually just fixed a small one yesterday.

Hmmm ... I don't have much experience with Carthage, as I use cocoapods. It seems to me that cocoapods is working.

The probem seems to be that I removed the file:
[code]
I removed it because it is no longer needed, since

[2017-03-27 16:59] danlozano commented on #74
Ok!

Just realized the issue.

I'm used to working with cocoapods, through the example project.

But I just realized that Carthage uses the Presenter.xcodeproj , which is missing some files.

Let me fix.

[2017-03-27 17:03] marciomeschini commented on #74
thank you @danlozano!!

[2017-03-27 17:07] danlozano commented on #74
Done!

Turns out the Presenter.xcodeproj file which is only used for Carthage was not up to date with the new files I added and removed.

Check out version 1.2.2 , should work now. If not let me know!

[2017-03-27 20:09] marciomeschini commented on #74
it works perfectly! Thank you @danlozano

[2017-03-27 20:10] danlozano commented on #74
Great!

Thanks you!

[2017-03-28 22:26] biagionicp commented on #8
@danlozano how can i change the height of the presented controller after it has been presented? -- such as when the user switches to landscape mode

[2017-03-31 10:59] bennokress commented on #74
I'm sorry to bother you with the issue again, but sadly it seems not to be fixed with the new version 1.2.2. I get basically the same error as OP when running `carthage update` or `carthage update --no-use-binaries` (which fixes problems with all other frameworks that are built with older Xcode versions):

[code]

The mentioned log file is the following:
[code]

[2017-03-31 16:28] danlozano commented on #74
That seems to be an issue with SwiftLint!

Let me look into it

[2017-03-31 16:35] danlozano commented on #74
Should be fixed in version 1.2.3.

Removed Swiftlint from the carthage project. It is not even used for development so there's no case for it to be there.

[2017-03-31 16:35] #74 closed

[2017-03-31 17:21] bennokress commented on #74
thanks for the fast fix, that did the trick :)

[2017-04-03 20:50] biagionicp opened #76 "Cannot change the height of the presented view controller after being presented"
I'm presenting a view controller like so:

[code]

Here is the PresentedController class:
[code]

Now, I want to change the view controller's height when orientation is changed to landscape mode, so I do this:
[code]

However the height doesn't change. I know the code is being executed because of the log statements and the debugger , so why is the height of the controller not changing?

[2017-04-06 21:14] patthehuman opened #77 "version 1.2.0 isn't on cocoapods"
I just did a pod install and it pulled down v 1.0

Is it possible to use 1.2.0? I need the background view option

[2017-04-06 22:59] danlozano commented on #77
hello!

hmmm I think that's how cocoapods works.

try using pod update Presentr

let me know fi that was it

[2017-04-06 23:00] danlozano commented on #76
Hmmmm that seems like it should work.

Let me look into it!

[2017-04-06 23:29] patthehuman commented on #77
Yeah I made a mistake and didnt update my pod repos :)

[2017-04-06 23:29] #77 closed

[2017-04-06 23:30] patthehuman opened #78 "Looking for a way to have multiple gesture recognizer"
I have a UITableView controller that I present with Presentr

I turn on swipe to dismiss property, but my tableview can't scroll up and down.

I will take a look at the code and see if it's recognizing gestures simultaneously.

Is there a different workaround for this?

Thx!

[2017-04-20 20:50] viethoang88 opened #79 "Delegate does not work with Navigation Controller"
Hi

when I use navigation controller and present that the PresentrDelegate method is not called

let navC: UINavigationController = UINavigationController(rootViewController: viewController)
customPresentViewController(halfPresenter, viewController: viewController, animated: true, completion: nil)

I would love to use the navigation controller in my popup since it holds important buttons.

Am I do

[2017-04-21 03:01] v-ken commented on #64
@gabber3000 I have also tried to use IQKeyboardManager but when the keyboard dismisses, the Presentr view seems to be repositioned on the bottom left side of the screen. Was wondering if you had this issue as well and managed to solve it?

![simulator screen shot 21 apr 2017 1 00 41 pm](https://cloud.githubusercontent.com/assets/5682879/25260930/8b091578-2692-11e7-962c-ddd56a0e8d3e.png)

[2017-04-21 03:27] v-ken commented on #64
Found the issue! `IQKeyboardManager` has the following code to save the current view controller's frame in `_topViewBeginRect`:

[code]
Solution is to set `shouldFixInteractivePopGestureRecognizer` to false:

    IQKeyboardManager.sharedManager().shouldFixInteractivePopGestureRecognizer = false

[2017-04-21 18:46] gabber3000 commented on #64
thank you

[2017-04-27 15:45] o15a3d4l11s2 opened #80 "Background stays transparent if presentation is not animated"
If I call
`customPresentViewController(presenter, viewController: customViewController, animated: false, completion: nil)`
then I see no background at all.

If I just switch the `animated` to true, the alpha of the background becomes 1 and the background is visible.

The setup of the presenter is the following:
[code]

[2017-05-01 23:26] biagionicp commented on #76
any update on why this isn't working?

[2017-05-01 23:27] biagionicp commented on #76
@danlozano any updates as to why this isn't working?

[2017-05-02 00:33] IanHoar commented on #64
I know this is a closed issue, but I'd like to add a request for supporting the `custom` type as well.  The way I see it is that it's an opt in API, and with proper documentation you could warn that it's not officially supported.  We're going to fork for now and remove the `type == .popup` check. I'll PR back anything that might make it in a reliable way for others.

[2017-05-18 05:06] deepakkghosh opened #82 "PresentrShadow not initializing"
The following code doesn't work:
`let shadow = PresentrShadow()
shadow.shadowColor = .black
shadow.shadowOpacity = 0.5
shadow.shadowOffset = CGSize(5,5)
shadow.shadowRadius = 4.0
presenter.dropShadow = shadow`
The error I get is: Cannot invoke initializer for type PresentrShadow with no arguments

Then I tried:
`let shadow = PresentrShadow(shadowColor: UIColor(CGColor: <>), shadowOpacity: <>, shad

[2017-06-01 14:41] kbjz opened #85 "Delegate shouldPresentrDismiss called multiple times when swipeToDismiss is true."
All in the title , when i swipe a view the delegate is called multiple times . I am working currently on flow Controller with Presentr so this crash all my navigation . Do i do something wrong ?

Thanks you for work btw .

Best

Kevin B.

[2017-06-06 10:34] ArturBaghdas opened #86 "Swift compiler error xCode 9.0 beta"
<img width="456" alt="screen shot 2017-06-06 at 2 32 33 pm" src="https://cloud.githubusercontent.com/assets/13787379/26825227/4135647c-4ac5-11e7-9292-5a3855d5a36a.png">

[2017-06-06 22:00] #70 closed

[2017-06-06 22:06] danlozano commented on #78
Hi @patthehuman

swipeToDismiss feature is disabled by default because of that problem that it will stop scroll views from working properly.

I believe this can be fixed, probably something to do with this delegate method:

https://developer.apple.com/documentation/uikit/uigesturerecognizerdelegate/1624208-gesturerecognizer

Which allows two gesture recognizers to work at same time.

Will look int

[2017-06-06 22:08] danlozano commented on #79
I see.

Yeah, that's because my private Presentation Controller is calling the presented view controller and checking if the delegate method is implemented.

In your case the presented view controller is the navigation controller, so it's not going to work.

I'll look into a fix for this over the weekend.

[2017-06-06 22:09] danlozano commented on #80
Hmm have not run into this. I'll see if I can replicate it.

I will look into this over the weekend.

[2017-06-06 22:11] danlozano commented on #82
Hi!

This was fixed in version 1.2.1. Accidentally made the initializer private.

[2017-06-06 22:11] #82 closed

[2017-06-06 22:12] danlozano commented on #85
Hey Kevin,

Hmm that's weird.

So, with swipeToDismiss = true, while you are making the swipe gesture, the delegate gets called multiple times?

I'll look into this over the weekend.

[2017-06-06 22:21] danlozano commented on #86
This issue has been fixed on master branch in a backwards compatible way.

Will add to next cocoapod release over the weekend with this and other fixes.

:)

[2017-06-06 22:21] #86 closed

[2017-06-06 22:22] danlozano commented on #76
Sorry, been really busy.

Planning to spend next weekend looking over these and all other recent issues and send out a new release.

Thanks for your patience.

[2017-06-07 09:01] ArturBaghdas commented on #86
Thanks

[2017-06-12 09:42] kbjz commented on #85
Ok thanks

[2017-06-17 10:33] QB3L opened #89 "Can't use in objective-c"
I noticed PresentationType is not available in the objective-c header. The PresentationType enum is not marked @objc and additionally it contains functions inside so it makes sense for it not to make it into the header.

The final result is that the initWithPresentationType: is not there and I can't initialize a Presentr inside an objective-c class because of that.

Is this intended? If not I coul

[2017-06-22 23:07] FranciscoMkdir commented on #31
Same issues

[2017-07-07 09:45] Mohammed-Eliass opened #91 "Strange behavior for presenter"
I have added this code after installing pod `Presentr`

       let presenter = Presentr(presentationType: .popup)
        presenter.transitionType = .coverHorizontalFromRight
        presenter.dismissTransitionType = .coverVerticalFromTop
        presenter.dismissAnimated = true

        var popupViewController: PopupViewController = {
            let popupViewController = self.storyboard?.instant

[2017-07-09 02:04] camanjj commented on #91
@Mohammed-Eliass make sure that you have a strong reference to the presenter, like keeping it as a property of the calling class. I ran into this same issue and that's how I resolved it

[2017-07-12 15:23] o15a3d4l11s2 commented on #52
I have conformed to the protocol and added the method, but it is not being called when I dismiss the view by clicking outside the popup. Is there something that I am doing wrong?

[2017-07-12 23:01] pprevalon opened #92 "any ways for me to add a bounce"
any ways for me to add a bounce

[2017-07-12 23:18] pprevalon opened #93 "can i push a viewcontroller with presentr"
can i push a viewcontroller with presentr

[2017-07-13 09:11] pprevalon commented on #93
Got it I just had to set the Vic as a uinavigationController

[2017-07-13 09:11] #93 closed

[2017-07-13 09:13] pprevalon opened #94 "How can I dismiss presentr with a button"
I want to use a button to close presentr how can I do that. Thank you for the help in advance.

[2017-07-15 07:28] davidbaez opened #95 "AlertViewController limited body size"
The body label of the built in AlertViewController cuts off at 3 lines of text. It is a bit limiting. Also the alert size does not grow dynamically depending on the size of the body label, so you have very little padding when you reach the max of 3 lines.

[2017-07-17 13:29] MilanNosal opened #96 "PresentrTransitionContext properties are internal and thus cannot be used when subclassing PresentrAnimation"
I am trying to create a custom transition animation. However, PresentrTransitionContext properties have internal accessibility level and thus are not accessible from my subclass.

[2017-07-18 08:10] MaikoHermans opened #97 "change the size of the presented viewcontroller after a certain action"
I currently have a popupview of which the view of the controller that is being presented should change after the user taps a certain button.

Let's say the presented view controller is 400 x 400 pixels and contains to buttons "yes" and "no". When the user presses "yes" the view controller will display some completely different content but it will also need to change to being 500 x 500 pixels.

Is

[2017-07-19 17:08] danielrees18 commented on #94
Presentr just wraps the API for displaying a ViewController. You can dismiss it by simply dismissing the View Controller

[code]

[2017-07-19 22:17] danlozano commented on #94
correct @danielrees18

thanks 👍

[2017-07-19 22:17] #94 closed

[2017-07-24 15:24] thierrybucco opened #99 "Swift 4 support"
Hi,

do you plan to support Xcode 9 & Swift 4?

Thanks

[2017-07-27 03:04] wkq87 opened #101 "cannot run the example"
i download the example but it cannot work.
I have already run command "pod install"
xcode 8.3.3

[2017-07-27 08:31] gabrielPeart commented on #99
Yup.

[2017-07-30 18:26] annjawn opened #102 "Weird stretchy effect for .topHalf Presentr"
I am using `.topHalf` Presentr with a custom ViewController for a simple Address form. When the user taps on the Address field, it presents a Mapkit Autocomplete view controller as you can see below. I am presenting the autocomplete VC using `UITextFieldDelegate` method `textFieldShouldBeginEditing`. Ultimately, when the user taps an address or taps Cancel on the autocomplete view controller it di

[2017-07-31 02:57] annjawn commented on #68
Exactly the same issue I am facing with topHalf Presentr as reported in #102 .

[2017-07-31 02:58] danlozano commented on #68
@annjawn Yeah, it seems like it's the same issue.

That's why I left this issue opened.

You should try any of the solutions in my previous 3 comments up here ^^^ .

[2017-07-31 03:04] annjawn commented on #68
@danlozano Unfortunately, my second VC is too elaborate for me to be able to move it completely to Presentr, but it's a great idea so i will try it sometime in the future. That being said, I just tried the `.modalPresentationStyle = .overFullScreen` method and it seem to be working now.

[2017-08-01 22:22] annjawn opened #103 "Is there a way to hide StatusBar for .fullScreen Presentr type?"
I am trying to hide the status bar on a View controller that I am presenting in `.fullScreen` mode using Presentr. However using the below code in the View controller doesn't seem to be working-

[code]

I have also set the "View controller-based status bar appearance" value to YES in info.plist, but the status bar still shows up.

[2017-08-02 01:51] apollow opened #104 "ViewControllers (call it A) presentr'd with a custom type that presents another view controller (call it B), upon dismissal of B and returning to A, has it stretched before returning back to normal."
Can't tell if this issue is a duplicate or not, let me know.

[2017-08-02 05:55] annjawn commented on #104
Yes, duplicate. See #102  and #68

[2017-08-02 14:54] danlozano commented on #104
Thanks @annjawn

Yep. This seems to be an issue with Apple's SDK's and the custom view controller presentation API's that Presentr uses under the hood.

Issue #68 , scroll to the bottom, and the last 2-3 comments have a couple of solutions I found.

I think I might dedicate some more time to this issue, maybe find a more permament workardound. Or at least add the workarounds I already found to the

[2017-08-02 14:54] #104 closed

[2017-08-02 14:54] #102 closed

[2017-08-02 14:56] danlozano commented on #68
@annjawn hmm will look into the second issue you mentioned.

But, why can't you use Presentr to present the second view controller? Are you already using the custom view controller presentation API's to present it?

Even if the second vc is internally very elaborate, just doing a presentation with Presentr shouldn't change anything. 🤔

[2017-08-02 17:38] annjawn commented on #68
@danlozano I guess now that I am thinking of it, you're right, I can present my second VC using Presentr. I am using just the base SDK `present` method right now. I'll give it a try. thanks.

[2017-08-05 08:31] ab-rdarts opened #105 "It seems shouldIgnoreTapOutsideContext doesn't work as expected"
As I understand shouldIgnoreTapOutsideContext should enable passthrough, but it doesn't work in all cases. Please look at screenshot. As I understand at top I see chromeView which intercepts taps and backgroundView doesn't work as expected. I can move tableview only in center of the screen but not at top of the screen (where the transparent yellow color is visible).

[code]

![simulator screen sho

[2017-08-08 21:41] viccalexander opened #106 "FR: Specifying Corners to Round x Drop Shadow"
I'm currently rounding the top corners of a view in the following way:

[code]

However if I do this to a controller presented with a presentr, the drop shadow property on presentr is ignored (masked). Would be cool to specify which corners we'd want to round and still apply a drop shadow with presentr.

[2017-08-13 14:23] fevicks opened #107 "Custom Font"
How to change Font in Presentr.alertViewController, i tried there is no function for that, please help me in this

[2017-08-16 23:24] jackngai commented on #103
I was going to write that I have the same problem, but I figured out a solution. I end up hiding the status bar right  before presenting the view using Presentr. Then I use the closure in customPresentViewController to change the boolean value to unhide the status bar. I don't call setNeedsStatusBarAppearanceUpdate in the block so it doesn't show the status bar as soon as the view is shown, but it

[2017-08-17 03:02] annjawn commented on #103
@jackngai there's a much easier solution. In the parent Viewcontroller before you call `customPresentViewController` method with your custom View controller, you just need to do `customVC.modalPresentationCapturesStatusBarAppearance = true` this will hand over the status bar's appearance and visibility to the presentr vc. For example-

[code]

And then in the Presentr's View Controller you can do

[2017-08-17 03:04] #103 closed

[2017-08-18 14:26] jackngai commented on #103
Cool! Thanks for sharing this.

[2017-08-27 01:13] danlozano commented on #107
There is no function to do this. Will add this to next release.

[2017-08-27 01:16] danlozano commented on #106
Interesting.

Will look into this, not sure if it's easily done with the way the shadow is handled.

Any ideas?

[2017-08-27 01:21] danlozano commented on #105
Hi!

I'm a little confused at the view controller/container situation you got going on there.

Could you send me a sample project or a little more code and context to try and figure out what is going on?

Any ideas on why your case is different from the basic sample case in the example project? or is that not working the way you think it should either?

[2017-08-27 01:22] danlozano commented on #101
Hello.

Does this still not work? What is the error you get?

[2017-08-27 01:23] #99 closed

[2017-08-27 01:23] #96 closed

[2017-08-27 01:24] danlozano commented on #97
Hmm it should be possible just by modifying the presented view controller's frame.

If you run into any issues with this, or it does not work as expected please open a new issue and we'll look into it.

:)

[2017-08-27 01:24] #97 closed

[2017-08-27 01:26] danlozano commented on #95
Hey @davidbaez

Hmmm this is true. Right now the included alert controller is pretty simple. Since I mainly just wanted to use it as an example of how you can present any controller you want with Presentr and make it look and feel like an alert or anything else.

But, as it seems many people are using the alert I will look into improving it on the next release. Ways to make it dynamically grow, ch

[2017-08-27 01:26] #95 closed

[2017-08-27 01:27] danlozano commented on #89
Hello!

Hmmm yeah, never really thought of adding support for Objective-C for this project, don't really know where to start. Any help would be appreciated.

[2017-08-27 01:28] #91 closed

[2017-08-27 01:29] danlozano commented on #92
You could create a custom animation with SPRING.

https://github.com/IcaliaLabs/Presentr/blob/master/TRANSITIONTYPE.md

[2017-08-27 01:29] #92 closed

[2017-08-27 18:50] tommyle opened #108 "dismissTransitionType doesnt work"
When I set dismissTransitionType the animation is always the slide down animation
`presenter.dismissTransitionType = .crossDissolve
`

[2017-08-27 23:15] danlozano commented on #108
Probably related to #91

You have to keep a strong referencia via an instance property, to the Presentr, otherwise it won't exist when dismissing and won't be able to animate.

[2017-08-27 23:15] #108 closed

[2017-09-03 23:13] #101 closed

[2017-09-03 23:14] #89 closed

[2017-09-03 23:27] danlozano commented on #80
Hi!

I tried to recreate this with your exact code and it is working, the background is being set to yellow.

Can you provide a complete code sample / xcode project in which this is not working, to check it out further, and re-open the issue.

Thanks

[2017-09-03 23:27] #80 closed

[2017-09-03 23:58] danlozano commented on #85
Fixed.

Should be out on next release.

[2017-09-03 23:58] #85 closed

[2017-09-03 23:59] danlozano commented on #76
Are you holding onto the Presentr as an instance variable?

This should work, I think this has something to do with your logic.

From where are you changing the frame?

Please send complete xcode project to test and re-open issue.

[2017-09-03 23:59] #76 closed

[2017-09-14 18:00] Huddie opened #110 "iOS 11, Swift 4 -- Swipe to dismiss"
When I try swiping to exit there is a major stutter.
If you could update for swift 4 that would be awesome. Love the framework

[2017-09-19 23:40] pprevalon opened #111 "presenting views on top of presenter issue"
i have a presentr view shown on top of of the screen if I present a view on top of presentr then dismiss the view the is a slight flicker of the presentr view, it shows it full screen then it goes to the top of the scree the way it is suppose to be. have you experience this issue or known of it.

[2017-09-20 15:11] Patchivic commented on #110
+1

[2017-09-21 06:12] zvving commented on #111
@pprevalon I has some issue with you.

- Use `Presentr` present show ViewControllerA with half type.
- Present ViewControllerB in ViewControllerA
- Try dismiss ViewControllerB. The ViewControllerA show FullScreen and fast show half screen.

How fix it? Thx!

[2017-09-21 06:19] zvving commented on #111
Same with https://github.com/IcaliaLabs/Presentr/issues/68

[2017-09-21 06:20] zvving commented on #111
I try `secondVC.modalPresentationStyle = .overFullScreen` fixed my issue.

[2017-09-24 05:21] falkobuttler commented on #110
+1

[2017-09-26 09:37] rezabina86 opened #112 "Swift 4 Build Problem"
I got this error on build on xcode 9 :
Struct 'PresentrConstants' is internal and cannot be referenced from a default argument value.

Please help

[2017-09-27 07:18] malkouz commented on #110
+1

[2017-09-28 18:25] Huddie commented on #112
+1

[2017-09-29 14:40] gabber3000 commented on #112
+1

[2017-09-30 15:56] FranciscoMkdir commented on #112
+1

[2017-10-02 08:35] JFERSD commented on #112
Is this going to be fixed soon?

[2017-10-02 16:41] danlozano commented on #112
Yes! Will get around to this probably today.

Sorry for the delay!

Just so I have all available information. That's the only issue you are getting on Swift4/Xcode9?

I had tested it before and thought everything would work ok in Swift 3.2 compatibility mode, but apparently not. Will check it out today. Any more info/bugs you have I would appreciate to fix it all in one swoop!

[2017-10-03 00:02] danlozano commented on #110
Any swift 4 problems please refer to this other issue #112

Thanks.

[2017-10-03 00:02] #110 closed

[2017-10-03 00:58] danlozano commented on #112
Version 1.3 is out with Swift 4/3.2 support.

Please try it out and open a new issue if any new bug pops out.

I will be focusing on this these days so it should not take any time to fix any new issue. I want to leave this version 100% stable.

Thanks for your patience.

[2017-10-03 00:58] #112 closed

[2017-10-03 00:59] danlozano commented on #111
Yeah, it's a known Apple SDK issue with custom view controller presentation.

I outlined a couple of fixes/workarounds in #68

[2017-10-03 00:59] #111 closed

[2017-10-03 00:59] danlozano commented on #105
Will close until further code/samples provided.

[2017-10-03 00:59] #105 closed

[2017-10-03 04:27] falkobuttler opened #113 "flipHorizontal transition type?"
I am using Presentr for a long time and today upgraded to the Swift 4 version. Unfortunately, it now doesn't support the `flipHorizontal` transition type anymore. I am using Presentr for a full-screen modal with drop shadow but now I can't use the flip anymore.
How could I emulate that with the current version?

[2017-10-03 05:03] falkobuttler commented on #113
Ok, trying to answer my own question. Here is the solution I came up with:

[code]

And then you use that animation here:

[code]

[2017-10-03 05:21] falkobuttler commented on #113
Submitted https://github.com/IcaliaLabs/Presentr/pull/114 to add native support for `flipHorizontal`

[2017-10-03 05:21] #113 closed

[2017-10-03 15:12] salah-mohammed opened #115 "Initializer for conditional binding must have Optional type, not 'CGFont'"
static func loadFont(_ name: String) -> Bool {
        let bundle = Bundle(for: self)
        guard let fontPath = bundle.path(forResource: name, ofType: "ttf"),
            let data = try? Data(contentsOf: URL(fileURLWithPath: fontPath)),
            let provider = CGDataProvider(data: data as CFData),
            let font = CGFont(provider)
        else {
            return false
        }

[2017-10-03 15:14] danlozano commented on #115
Which version of Swift are you using?

Swift 4 uses an optional for CGFont so it shouldn't have that error.

Are you using Swift 3.1 / Xcode 8?

Or swift 3.2 / Xcode 9?

[2017-10-03 15:24] danlozano commented on #115
Try removing `let font = CGFont(provider)` from the `guard` statement and adding this code below.

[code]

Let me know if it works for you. If it does I'll add it.

[2017-10-03 15:30] salah-mohammed commented on #115
xcode 9.0
swift 3.2

[2017-10-03 15:31] danlozano commented on #115
Hmm sorry, it's been kind of confusing making it work with both Swift 4 and Swift 3.2 at the same time.

If the above code doesn't work try this out.

[code]

Let me know please. I tried to test both 3.2 and 4 cases on my machine but apparently I missed something.

[2017-10-03 18:57] dafurman opened #116 "Custom presentations don't render properly in landscape mode"
Check out Custom presentation in the sample app and press it when in landscape mode to see what I mean.

I have my own issue fitting the entire height of a view when presenting from the bottom center when trying to display a view in landscape mode. The view is cut off at the bottom of the screen.

[2017-10-04 18:39] alediaz84 commented on #115
Same issue here. Xcode 9, swift 4.0

[2017-10-05 11:44] tjarbo commented on #115
@alediaz84 How were your steps? Because it still doesn't work, after I changed the Swift-Language-Version for my Project and my Targets to Swift 4.0 ?

[2017-10-05 12:00] alediaz84 commented on #115
I just changed the pod swift version to 4.0 and used 1.3 version. The project is configured with CocoaPods.

[2017-10-05 15:26] danlozano commented on #115
Nice!

So changing the pods project to swift 4 makes it work fine?

Will hold off on the "fix" for now then. If more people have this issue I might add the above fix code.

Thanks @alediaz84

[2017-10-05 15:31] danlozano commented on #115
I'll leave this open to continue conversation if more people get this issue.

[2017-10-11 11:50] cmtrounce commented on #115
I am also experiencing this issue.

[2017-10-12 14:04] mohammdsss1 commented on #70
I am facing the same issue

[code]

I tried all the enum values for the parameter `keyboard` and nothing changed!

[2017-10-13 06:58] mollywoodnini commented on #115
I have the same problem.

[2017-10-13 14:13] alediaz84 commented on #115
@cmtrounce
@mollywoodnini
Please, check that Presentr 1.3 is being compiled with swift 4 instead of Swift 3.2

[2017-10-13 14:15] pprevalon opened #117 "Presentr auto calculate viewController height"
Im currently using .top to present my UItableView with no footer. I want Presentr to calculate the height and show all the visible cell instead of me setting the height i would like for Presentr to calculate that. How can i complete this? thank you in advance.

[2017-10-17 08:29] mohammdsss1 opened #118 "The modal's view shifts to the center, leaving a space at the bottom when the keyboard is shown"
Let me first thank you for this great library and for your effort.

I am encountering a weird behavior when presenting a modal controller when the keyboard is dismissed; the whole view is shifted to the middle of the controller and leave a space at the top as the images shown below.

It happens loke this:
1-Present a modal.
2-Tap on a texfield with custom input view.
3-The keyboard appears.
4-Dism

[2017-10-25 23:44] pprevalon opened #119 "how to set a height for 'let customPresenter = Presentr(presentationType: .bottomHalf)'"
Im trying to get the same effect as the .bottomHalf but i want to specify my own height. I try '        let height = ModalSize.custom(size: 100)' but what should I set ModalCenterPosition to.

[2017-10-31 02:25] xwgit2971 opened #120 "When presentingViewController has UITextField, presentr will crash"
1. I add a UITextField in 'MainTableViewController' with PresentrExample.
2. When present and dismiss 'PopupViewController', after click UITextField in 'MainTableViewController',  crash

[2017-10-31 02:25] xwgit2971 commented on #120
-[_UIAppearanceCustomizableClassInfo keyboardWasShownWithNotification:]: unrecognized selector sent to instance 0x7ff5b885da00
2017-10-31 10:25:35.924 PresentrExample[55060:4460404] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[_UIAppearanceCustomizableClassInfo keyboardWasShownWithNotification:]: unrecognized selector sent to instance 0x7ff5b885da00'
*** F

[2017-11-13 02:28] mrdaios opened #121 "Observe dismiss?"
https://github.com/IcaliaLabs/Presentr/blob/67eef3e9974d8125cc169c111c56e14e45a6a017/Presentr/PresentrController.swift#L363
how can i Observe this?

TKS.

[2017-11-13 04:34] Huddie commented on #120
+1

[2017-11-14 13:51] cameronehrlich opened #122 "Push latest changes to Pod Trunk?"
We have `Presentr` as a dependency in private .podspec for our teams' shared code.  Anything I can do to help speed this along?

Thanks!

~ Cam

[2017-11-28 06:04] otymartin opened #123 "Feature Request - Provide CGPoint of tap on backgroundView"
@danlozano

Would like to maintain `shouldIgnoreTapOutsideContext = false` for dismissing Presentr but at the same time pass touch events to buttons below. Matching the CGPoint of the touch on the background view to a UIButton on the PresentingVC would really help. Perhaps a delegate callback that provides  this information would be helpful?

[2017-11-30 11:35] andreamazz commented on #97
Hi @danlozano
I'm testing this out, and changing the frame doesn't seem to work. If I do it inside a UIView animation you can see that the frame changes but then the presenter enforces the starting size. Without animation there is no change at all. Any ideas?

[2017-12-03 22:53] freesuraj commented on #68
I felt this was apple sdk bug. Interestingly the solution does work. So thanks.

[2017-12-05 08:23] otymartin opened #124 "Round corners not working in iPhoneX"
@danlozano
Rounding corners for custom PresentationTypes doesn't work in iPhone X for whatever reason despite the method being called.

I have shouldRoundCorners as true for all presentation types.

[2017-12-19 13:36] Ankish opened #125 "Dismiss ViewController on scroll"
1) Dismiss viewcontroller on pan of tableview scroll .
https://github.com/sgr-ksmt/PullToDismiss

2) Also, the UITableviewcontroller can be the child view controller of the view controller which we are presenting. Dismissing the complete viewcontroller on pan similar to 1.

[2017-12-20 04:51] mamnun commented on #117
`Presentr` should not calculate the height. If you properly set  your VC autolayout constraints and use dynamic presentation type you can achieve this.

One approach would be setup a `heightConstraint` for your VC. then in the scrollview(which is your tableview) delegate, you set the `heightContraint` value to the `contentSize.height`.

[2017-12-20 16:27] danlozano commented on #117
Sorry. Been really busy with work.

Will get a couple of weeks of for the holidays and will catch up on issues and pull requests. Thanks for your patience.

[2017-12-20 16:31] danlozano commented on #125
Sorry. Been really busy with work.

Will get a couple of weeks of for the holidays and will catch up on issues and pull requests. Thanks for your patience.

[2017-12-20 16:31] danlozano commented on #124
Sorry. Been really busy with work.

Will get a couple of weeks of for the holidays and will catch up on issues and pull requests. Thanks for your patience.

[2017-12-20 16:31] danlozano commented on #123
Sorry. Been really busy with work.

Will get a couple of weeks of for the holidays and will catch up on issues and pull requests. Thanks for your patience.

[2017-12-20 16:32] danlozano commented on #122
Sorry. Been really busy with work.

Will get a couple of weeks of for the holidays and will catch up on issues and pull requests. Thanks for your patience.

[2017-12-20 16:33] danlozano commented on #121
Sorry. Been really busy with work.

Will get a couple of weeks of for the holidays and will catch up on issues and pull requests. Thanks for your patience.

[2017-12-20 16:33] danlozano commented on #119
Sorry. Been really busy with work.

Will get a couple of weeks of for the holidays and will catch up on issues and pull requests. Thanks for your patience.

[2017-12-20 16:33] danlozano commented on #118
Sorry. Been really busy with work.

Will get a couple of weeks of for the holidays and will catch up on issues and pull requests. Thanks for your patience.

[2017-12-21 09:56] pkuklis opened #127 "overCurrentContext in Custom Container"
Hi,

Is it possible to create transitions in Presentr that work similarly to .overCurrentContext?

I have a custom containerViewController (which displays buttons) and would like to perform a segue from the first childViewController to the second one (without overlaying the container).

Here's a quick example:
https://youtu.be/v8V8-uw0oco

Would love to know if it's feasible!

[2018-01-10 19:22] aasatt commented on #121
You can currently do so by conforming your presented view controller to `PresentrDelegate` you will get a callback just before dismiss. If you want to be notified in the controller that presented it, you can create a delegate between your two controllers to let the presenting one know.

Example:

FirstViewController presents SecondViewController

In `SecondViewController.swift`:

[code]

In `First

[2018-02-02 03:12] nboyd-sportdx opened #128 "closure / completion on dismissal"
is there an event or closure for when the view is dismissed?

[2018-02-05 10:32] Nerkyator opened #129 "Shadow with rounded corners"
Seems that if I add shadow on presented viewController it removes rounded corners
[code]
Am I missing something?

[2018-02-16 06:51] freakdragon opened #130 "Presentr animation from corner"
May be, it will be useful for someone, or the author will add it to release (desirable, in 3.0 swift :) ).
The code of corner animation, based on author's animations.

[code]

The usage is simple.
From left top corner:

`presenter.transitionType = TransitionType.custom(CoverFromCornerAnimation())`

From left bottom corner:

`presenter.transitionType = TransitionType.custom(CoverFromCornerAnimation

[2018-03-10 17:28] otymartin commented on #123
@danlozano any word on this?

[2018-03-20 04:00] crspybits opened #133 "Device rotation"
Hi-- I like Presentr-- I'm using it in two projects so far. One question: Is there a way to change the (x, y) position of the origin of the presented modal with device rotation? I'd like to drop the modal below the status bar in portrait mode, and keep it at the top in landscape. Thanks.

[2018-03-26 10:32] retuner87 commented on #115
Hi, changing "Swift Language Version" on Pod > Presentr > Build Settings to Swift 4.0 it works.
Thanks

[2018-04-02 11:57] freakdragon opened #134 "Custom modal size different for portrait and landscape orientations"
[code]

The usage is:
`let presenter = Presentr(presentationType: .custom(width: ModalSize.customPortraitLandscape(sizePortrait: 240, sizeLandscape: 320), height: ModalSize.customPortraitLandscape(sizePortrait: 320, sizeLandscape: 240), center: ModalCenterPosition.center))`

[2018-04-04 16:13] Karthiccc opened #135 "How to make Presentr custom dialog from uiviewcontroller common in all screens"

[2018-04-06 11:52] farooq94 commented on #115
Using Swift 4, xcode 9, still getting this error
Initializer for conditional binding must have Optional type, not 'CGFont'

[2018-04-06 16:44] danlozano commented on #115
@farooq94 Have you tried changing the Build Settings to Swift 4?

[2018-04-09 13:31] FabylouV opened #136 "NavigationController not showing up"
Hi,

When I'm using presentr to display my VC, I'm losing my navigationController.
It's really annoying, I can see the navigation controller on my storyboard, but as soon as I'm using presentr (I'm using it to display a VC as a side bar menu, but still want to keep hierarchy in my VC).

Is there a way to specify the navigation controller ?

Btw, I'm using "customPresentViewController" func to disp

[2018-04-09 16:05] danlozano commented on #136
Hi @FabylouV !

If you want to present the hierarchy `Navigation Controller -> Your View Controller` you must present the navigation controller (the one from your storyboard) which includes your view controller as it's child.

Or wrap your view controller in code, inside a Navigation Controller, and then present that.

[2018-04-10 00:28] danlozano commented on #135
Hi!

Could you be more specific with what you're trying to do so i can help.

Thanks

[2018-04-10 00:29] danlozano commented on #134
Hi!

This seems like an interesting idea.

Could you turn this into a pull request, so I can refactor it a little, and then probably merge it.

Thanks!

[2018-04-10 00:32] danlozano commented on #133
Maybe this isssue #134 could help out.

Anyways, if you want to change the position just changing the frame of the presented view controller (from inside the VC) should work.

If that doesn't work out, please open a new issue and I'll look further into it.

:)

[2018-04-10 00:32] #133 closed

[2018-04-10 00:33] danlozano commented on #130
Interesting  new animation.

Could you open a Pull Request so I can test it out and further take a look into it.

Thanks.

[2018-04-10 00:33] #130 closed

[2018-04-10 00:33] danlozano commented on #129
Hmmm I will definitely look into this this week.

Thanks!

[2018-04-10 00:34] danlozano commented on #128
For when the view controller is dismissed?

Yeah you can use the `PresentrDelegate`.

https://github.com/IcaliaLabs/Presentr/blob/master/DELEGATE.md

[2018-04-10 00:34] #128 closed

[2018-04-10 00:37] danlozano commented on #127
Hi!

Nice video! But could you elaborate a little bit more so I can understand.

If you want to you can create a custom `PresentrAnimation`. I'm pretty sure all presentations with Presentr behave like .overCurrentContext

What exactly are you missing or having trouble with?

Thanks!

[2018-04-10 05:50] Ankish commented on #125
@danlozano : any plan to update this. Since all default controls have the gesture dismissing now. It would be very cool to integrate this. I dont see any other library achieving this well.
One of it is : https://github.com/HarshilShah/DeckTransition . It does not have custom height presentation.

[2018-04-10 08:14] FabylouV commented on #136
Could you give me an example of each, because I'm really not following :x

I tried to do
`VC1.customPresentViewController(presenter, viewController: VC2.navigationController!, animated: true, completion: nil)`
But the VC2.navigationController is nil

[2018-04-10 13:45] FabylouV commented on #136
I fixed my issue.

I had a big misunderstanding between displaying modally and dsplaying using hierarchy.
So I displayed my SideBar modally, but I pass the viewController in parameters so once I clicked on an item from my sideBar, I could load the view using hierarchy from my previous navigationController.

[2018-04-10 13:46] #136 closed

[2018-04-11 08:18] omidgolparvar opened #137 "Presenting ViewController with custom UIViewAnimationOptions"
Hi
Please add a property for setting `UIViewAnimationOptions` for presenting ViewController. For example, in some cases, I want to present my ViewControllers with `UIViewAnimationOptions.curveEaseInOut`.

Thanks.

[2018-04-11 15:30] danlozano commented on #137
Hi!

When presenting view controllers you can set the `transitionType` to any of the system or presentr provided animations.

If you can't find one that fits what you want, you would need to create your own `PresentrAnimation` which is explained in the Readme.

If you believe its useful for other people, you can create a Pull Request to add your animation to Presentr.

:) Thanks

[2018-04-11 15:30] #137 closed

[2018-04-11 15:31] danlozano commented on #136
Awesome, yeah sounds about right.

Glad you fixed it. 👍

[2018-04-13 07:47] freakdragon commented on #134
Added pull request
https://github.com/IcaliaLabs/Presentr/pull/138

[2018-04-13 17:32] prsolucoes opened #139 "Has WKWebView support?"
Hi,

I can use WKWebView with your library?

Awesome works. Thanks.

[2018-04-16 00:43] danlozano commented on #122
Done as of today 👍

[2018-04-16 00:43] #122 closed

[2018-04-16 00:45] danlozano commented on #121
Yes, @aasatt is correct. Thanks dude 👍

If you have any more doubts you can re-open issue.

[2018-04-16 00:45] #121 closed

[2018-04-17 02:08] akring commented on #74
Well,`1.3.1` is broken again :(

···
*** Building scheme "Presentr" in Presentr.xcodeproj
Build Failed
	Task failed with exit code 65:
···

[2018-04-17 02:16] danlozano commented on #74
I think I know what it is. I need to update the .xcodeproj which Carthage uses. Let me look into it.

[2018-04-17 02:31] danlozano commented on #74
Should be fixed now in version `1.3.2`.

Let me know if it everything's good. 👍

[2018-04-18 14:07] mrdaios commented on #121
it's work.

[2018-04-22 00:45] danlozano commented on #134
Merged and released! Thanks @freakdragon

[2018-04-22 00:45] #134 closed

[2018-04-22 01:52] danlozano commented on #129
Fixed in master.

Will send new version to cocoapods soon.

[2018-04-22 01:52] #129 closed

[2018-04-22 01:52] #127 closed

[2018-04-22 01:53] danlozano commented on #127
Please open if needed.

[2018-04-22 01:56] #115 closed

[2018-04-22 01:58] danlozano commented on #124
<img width="508" alt="screen shot 2018-04-21 at 8 58 13 pm" src="https://user-images.githubusercontent.com/2406956/39090510-ba9ee022-45a6-11e8-861c-2472e5cdfba5.png">

[2018-04-22 01:58] danlozano commented on #124
It seems to be working OK in the example project.

Could you give me a little more insight into your code to track down what is going wrong?

Thanks

[2018-04-22 02:00] danlozano commented on #139
Sure.

Create your own ViewController which has a WKWebView inside it with the appropiate autolayout constraints on it.

Then use presentr to modally present it.

👍

[2018-04-22 02:00] #139 closed

[2018-04-22 02:01] danlozano commented on #116
You can try the new `ModalSize` type of `.customOrientation` which let's you select a different size for landscape/portrait orientations.

Would that work for you?

[2018-04-22 02:01] #78 closed

[2018-04-22 02:05] otymartin commented on #124
@danlozano Will recheck this, It works in all cases except for my custom presenter VC that plays back video.

I'll reinvestigate.

Thanks

[2018-04-23 01:26] danlozano commented on #106
Hi!

Presentr can't know how masking is going to be handled in the presented view controller.

I just made an update in which presentr never masks/clips the presented view controller's view. So that way, rounded corners & shadows always work.

That way, if you need to mask in your view controller, just add an extra "container view" as the superview to all your other views, and do your masking in t

[2018-04-23 01:26] #106 closed

[2018-04-23 01:35] danlozano commented on #124
Thank you! Please let me know and if you find anything out please re-open the issue!

Could it that the video/view/layer needs to be clipped to respect the rounded corners? 🤔

[2018-04-23 01:35] #124 closed

[2018-04-23 01:36] danlozano commented on #116
Please re-open issue if you want to look further into this.

Thanks!

[2018-04-23 01:36] #116 closed

[2018-04-23 01:42] danlozano commented on #119
Hi!

The `.bottomHalf` Presentation Type does exactly what it's name implies. If fills the bottom half, so it would make no sense to "change" the height for that.

What exactly are you trying to accomplish? A view that is of X height but it's on the bottom of the screen?

You could accomplish that with a `ModalCenterPosition` with a customOrigin of X = 0; Y = screen.height - your height.

But let

[2018-04-23 01:43] danlozano commented on #117
If you wan't auto layout dynamic sizing you should use the .dynamic PresentationType.

Let me know if that work's out.

[2018-04-23 01:58] danlozano commented on #107
This is now fixed on master.

AlertViewController's initializer allows for setting custom font's for title, body and buttons.

Will update pod soon. Thanks!

[2018-04-23 01:58] #107 closed

[2018-04-24 23:55] #117 closed

[2018-04-25 00:05] danlozano commented on #123
Hi @otymartin ! Have a couple of questions to be able to understand your issue.

1.- Are you using the `viewControllerForContext` property? That is used to present over a certain container view controller. This is important because the `shouldIgnoreTapOutsideContext` property is only useful in that context.

2.- Why would you need the CGPoint? What exactly are you trying to achieve?

My guess is t

[2018-04-25 00:06] danlozano commented on #135
Please re-open this issue with more information if you still need some help with this.

😀

[2018-04-25 00:06] #135 closed

[2018-04-25 00:14] danlozano commented on #125
This issue is now officially on the road-map, as this is something that has become standard issue now with the iPhone X and many stock iOS apps (Music, Podcasts).

I will start working on this, if anyone has any ideas/suggestions or want's to help out via a PR, you are very welcome.

[2018-04-25 14:19] otymartin commented on #123
@danlozano
```Dismiss the presented view controller AND at the same time pass the action's to the presenting view controller?```
This is exactly what Im trying to do

[2018-04-25 16:20] Karthiccc opened #141 "How to make Presentr custom dialog common in all view controllers"
what I want to do is to create a presentr custom dialog which should be able to be displayed in all the view controllers. but from your project I can make a presentr object for one view controller and use that to create a dialog. But I want that presentr to be common to view in all view controllers. so the dialog can be appeared in all view controllers.

[2018-04-25 16:26] Karthiccc commented on #141
var presenter: Presentr = {
            let width = ModalSize.full
            let height = ModalSize.custom(size: (Float(self.collectionView.frame.height + 5)))
            let center = ModalCenterPosition.customOrigin(origin: CGPoint(x:0, y: relativeHeight))
            let customType = PresentationType.custom(width: width, height: height, center: center)

            let customPresenter = Prese

[2018-04-25 19:00] Karthiccc commented on #141
and also one more issue is that if the custom dialog is presented. I should be able to access the background view controls when the custom dialog is presented. it should not dismiss on tapping outside it should be able to tap on whatever UI control is at the background view controller.

[2018-04-26 07:54] apptekstudios commented on #119
We rewrote the positioning/layout part of this library for more flexibility if you want to check out our fork @pprevalon. We haven't had a chance to document/fully test yet

Example use:
`let layout = ModalLayout(width: .inset(by: 20), height: .autolayout, positionReference: .bottomMiddle, position: .bottom)`
`let customType = PresentationType.custom(layout: layout)`
`let customPresenter = Present

[2018-04-28 23:44] danlozano commented on #141
Hi @Karthiccc ,

You must instantiate and hold onto a Presentr object in any ViewController you want to do custom presentation's, as the Presentr object acts as the delegate for the presentation. This object should not be shared between different view controllers if you want to avoid some possible weirdness.

If you want to avoid code duplication, what you can do is create a static/factory method

[2018-04-28 23:46] danlozano commented on #123
Ok, that makes sense.

Because I was thinking of adding an option to make the background taps fall-trough to the presenting controller, ignoring them completely.

But you want Presentr to handle the background tap, by dismissing the presented vc, but also pass the action to the presenting view controller.

Let me look into the best way to do this, maybe I can pass the touch itself to the bottom vi

[2018-04-28 23:48] danlozano commented on #119
Hi @apptekstudios ,

Oh nice!

I don't see the repo 🤔 ... If you guys are willing to do a Pull Request, so I can check it out and test it and maybe we can add it to the library.

Thanks

[2018-04-29 01:12] apptekstudios commented on #119
Hi @danlozano,
I'll try find time to clean it up a little this afternoon and put through a pull request. It would be code-breaking in it's current form as I removed the old layout api (although you certainly could keep both until a major version)

[2018-04-29 03:30] apptekstudios commented on #119
@danlozano I've made the PR #142

[2018-05-06 00:20] #141 closed, assigned to nobody

[2018-05-06 00:25] danlozano commented on #123
This feature is now live in the master branch, will send update soon.

Basically, there's a new Enum property

[code]

The property handles what happens when the background is tapped. No action and dismiss are obvious, they were already available via te previous `Bool` property.

But, now the new `passthrough` option let's you pass the touch to the presenting view controller, in which any button t

[2018-05-06 00:26] danlozano commented on #119
This sounds awesome!

Will check it out and see what would be the best way to handle this. Probably having both options for now would be best.

I'll let you know if I have any questions.

Thanks @apptekstudios !!

[2018-05-06 00:27] danlozano commented on #119
We'll discuss this in the PR, so I'll close this issue.

[2018-05-06 00:27] #119 closed

[2018-05-06 13:29] otymartin commented on #123
@danlozano Woo thats hot. I will try it out in abit but really thanks for coming through on this.

[2018-05-06 19:11] patthehuman commented on #125
I posted about this a while ago. If you disable vertical scrolling from scrollviews (stop scrolling when it reaches 0.0) and enable simultaneous gesture recognizers it should work

[2018-05-08 17:16] chryb opened #143 "viewDidAppear / viewWillAppear isn't called after dismissing a presented view controller"
The viewDidAppear method isn't called after I call the dismiss(animated: true, completion: nil) method. Am I wrong or is this behavior not possible?

[2018-05-09 16:33] #143 closed

[2018-05-12 01:12] robcecil opened #144 "Debugger constraint warnings related to KeyboardAssistantBar and Presentr?"
Not sure if this is something that lies in my code, but when I invoke the keyboard in a UIView that has been Presentr'ed, I see Xcode spill its guts with these warnings.

Any ideas?

`(
    "<NSAutoresizingMaskLayoutConstraint:0x604000299870 h=--& v=--& UIKeyboardAssistantBar:0x7fe96f766bc0.height == 0   (active)>",
    "<NSLayoutConstraint:0x60c000292d40 V:|-(0)-[_UIButtonBarStackView:0x7fe96f768

[2018-05-12 01:17] robcecil commented on #144
My presenter:

    lazy var loginPresenter: Presentr = { [unowned self] in
        let width = ModalSize.custom(size: 400)
        let height = ModalSize.custom(size: 500)
        let p = CGPoint(x: self.view.frame.origin.x + (self.view.frame.width / 2) - 200, y: 70)
        let center = ModalCenterPosition.customOrigin(origin: p)
        let customType = PresentationType.custom(width: width, heig

[2018-05-13 15:30] otymartin opened #145 "Corner radius issue with 1.3.2"
@danlozano
Is there something that would cause cornerRadius to not show in UIPageViewController environment?

I have a PageViewController with multiple child controllers. On initial load, there is no cornerRadius, but as soon as I scroll to the next page, corner radius appears. Its almost like a glitch.

This doesnt happen at all in 1.3.0

I tried to reproduce it in this [**repo**](https://github.

[2018-05-22 11:20] trusk89 commented on #123
Do you have any idea why this isn't available on the latest release? I'm rocking 1.3.2 but it says that the ```presenter.backgroundTap``` doesn't exist and it's true. In the Presentr.swift file there is no such property and no BackgroundTapAction enum.

[2018-05-22 15:22] danlozano commented on #123
@trusk89 Hi!

Sorry, that feature is on master already, but hasn't been officially released yet.

Will try to send the update to cocoapod soon. If not, you can point the pod to the master branch if you need to try this out now :)

[2018-05-22 22:13] hopy11 opened #146 "Run PresentrExample display something wrong???"
I use Xcode 9.3.1(Swift 4.1,iOS 11.3),and I run PresentrExample ,after I selected the first two items in main UI,Since then it's can not display any popup :

![1](https://user-images.githubusercontent.com/6326047/40392797-7453945c-5e4f-11e8-81ed-1c416ec280b9.gif)

Why is that??? and How to fix it??? Thanks

[2018-05-23 06:46] trusk89 commented on #123
Thanks @danlozano!

[2018-05-30 13:37] edgar-zigis opened #148 "PresentrAnimation has a slight delay using Blur"
When trying to present controller (for example with CoverVertical animation), there is a slight delay during the presentation. First blur appears and only then the controller.
Please fix this issue, or mark UIViewControllerAnimatedTransitioning methods inside of PresentrAnimation as open.

[2018-06-01 10:49] omarojo commented on #145
I have similar issue with a normal UIViewController loaded this way:
`let previewVC = G8ARMediaPreviewVC.init(nibName: "G8ARMediaPreviewVC", bundle: FRAMEWORK_BUNDLE)
        customPresentViewController(presenter, viewController: previewVC, animated: true, completion: nil)`

It never shows the rounded corners.

[2018-06-01 10:54] omarojo opened #151 "CornerRadius not working"
[code]
loading the presented ViewController like this

[code]

[2018-06-12 15:55] addisonElliott commented on #146
👍
Same issue here when running example.

To add to this, here is the text that is reported in the debug view:
[code]

[2018-07-04 04:47] lofreer opened #152 "Current version .dismissOnTap is Lost."
with 1.3.2

[2018-07-05 00:48] Kanishka3 opened #153 "Can't we add custom text to it? If yes, then how?"

[2018-07-05 18:14] danlozano commented on #146
Looking into this, will fix.

It's an issue with the example project code, not with the Presentr library itself.

But will fix soon 👍 thanks

[2018-07-05 18:17] danlozano commented on #145
Yes, sorry.

I introduced this issue in the latest version.

I removed setting `.clipsToBounds = true` from the presented view controller's view, so that you can round corners and set shadows using Presentr without issue.

But the problem is that if you're view has inner subviews that need to be clipped (like in a page view controller, navigation controller, etc...) you NEED to clip bounds otherwi

[2018-07-05 18:18] danlozano commented on #151
Thanks! looking into it over here #145

[2018-07-05 18:18] #151 closed

[2018-07-05 18:21] danlozano commented on #152
Hi!

Sorry will update README soon.

That property changed, it's no longer a BOOLEAN.

[code]

[code]

So now, if you want to disable dismissOnTap just go `presenter.backgroundTap = .noAction` ... default is still `.dismiss`

[2018-07-05 18:21] #152 closed

[2018-07-05 18:21] danlozano commented on #153
Hi!

Add custom text to what? Please specify :)

Thanks

[2018-07-06 00:36] Kanishka3 commented on #153
Adding custom text to a Presentr view. Just like I initialized a Presentr.
var presentr = Presentr(presentationType: .alert)
Now, how can I edit the text of that Presentr View.

[2018-07-09 03:08] Nickersoft commented on #129
@danlozano Currently using the latest version on Carthage and still facing this same issue.. was the fix ever released?

[2018-07-12 19:12] cliftonlabrum commented on #153
@Kanishka3 When you present the view, you can specify which view controller you show. So you can put anything you want in your custom view controller and then present it with a `Presentr` object.

[code]
...and then:
[code]

[2018-07-12 19:17] danlozano commented on #153
Thanks @cliftonlabrum !

Expanding on what was already said. Presentr is basically a wrapper for Apple's `Custom Modal Presentation API`.

Makes it easy to present any of your view controllers with custom position, sizing and animations.

But as @cliftonlabrum said, you can create your own controller with any of your custom views and logic, and present it.

Or you can also use the `AlertViewContro

[2018-07-12 19:17] #153 closed

[2018-07-12 19:19] danlozano commented on #148
Thanks @edgar-zigis

Looking into this.

New `2.0` version coming out soon with many improvements on the API, and a couple of new features.

[2018-07-12 19:32] cliftonlabrum opened #154 "topHalf Behavior but with Dynamic Height"
First of all, this framework is super cool and has saved me tons of hassle. I don't use much third-party code, but this is fantastic. :)

I'm trying to create alerts that slide down from the top of the screen just like the `topHalf` kind ([like this](https://camo.githubusercontent.com/09ebbf88837ca23736cbad029728819c0299b91c/687474703a2f2f64616e69656c6f7a616e6f2e636f6d2f50726573656e74722f476966732

[2018-07-12 19:36] danlozano commented on #154
Hi @cliftonlabrum !

Right now I don't think this is possible. You could calculate the height before hand using the system provided method, and then tell Presentr that height, for now...

But yeah, right now dynamic auto layout is a PresentationType that applies sizing to both width and height, and it just gives you the choice of supplying it's center position.

BUT

All of these are actually high

[2018-07-12 19:49] cliftonlabrum commented on #154
Sounds great. I'm looking forward to it. :)

[2018-07-14 17:47] EllisShen opened #155 "Presenting custom Presentr triggered warning message: Warning: Attempt to present * on *whose view is not in the window hierarchy""
Thanks for your attention.

I have a UITabBarController in which contains multiple NotificationCenter listeners. For every listener, I use Presentr as a bottom half modal to notify the user an event occur or a new message is received. I import Presentr from the GitHub repo directly (I figured out that the code of v1.3.2 on Cocoapod has some difference with the latest Github version).

It works fin

[2018-09-19 08:37] zhenwei12138 opened #156 "dynamic view size wrong"
presentationType  dynamic

transitionType crossDissolve

size wrong

[2018-09-19 08:39] zhenwei12138 commented on #156
i find  this function size(forChildContentContainer container: UIContentContainer, withParentContainerSize parentSize: CGSize)
perform twice
second size is wrong

[2018-10-05 09:08] sanju-naik opened #157 "Swift 4.2 Support"
Looks like you guys are yet to release a version to support Swift 4.2?

When I updated my project to Swift 4.2 with Presentr 1.3.2 Things are breaking, Any plans around releasing new version to support 4.2?

[2018-10-07 15:33] Sodtseren commented on #120
+1
why exception keyboardWasShownWithNotification on ios 8

[2018-11-01 10:12] mmcbrear commented on #157
bump

[2018-11-04 02:02] danlozano commented on #157
done! let me know if there's any issue.

sorry for the wait, been really busy.

[2018-11-04 02:02] #157 closed

[2018-11-16 05:39] rkxx08 opened #160 "Making a static library target."
I think static library target makes more sense. If I have to choose only one target between static or dynamic, I'd choose static library target.

If there's no embedded assets, it's easy to make a static library target. For now, there's two embedded font files, and I think that is preventing making a static library target. Is there any reason to embed these fonts in the library package?

How do yo

[2018-12-07 19:49] patthehuman opened #162 "Please let me know when v 2 comes out"
Not an issue. Looking to know. Please ping me if you need help.

[2018-12-12 19:10] A1exandre opened #163 "Need elastic resistance when swiping in opposite direction to dismiss"
Hi & thanks for the great work 👍

This is not really an issue... but rather a nice to have :)

I setup my presented view as a bottomHalf view at the bottom, with ability to swipe down to dismiss.

Being able to let the user drag the view down is great :)

However, even though the user can start dragging the view down, if he drags it up there is a hard limit with no elasticity at all. This is bad b

[2018-12-24 20:37] MHX792 commented on #52
I have the same problem. The method does not get called. Any ideas?

[2019-01-02 23:27] freesuraj opened #164 "White background behind navigation bar"
Latest version `1.9` swift 4.2 shows a white background by the navigation bar on a custom presentation that makes it look as if the navigation bar is taller by 100px.
Upon debugging it is revealed that the background is actually a transition passthrough view.

[code]

It's being presented using navigation controller like:

[code]

The result looks like this:

![image](https://user-images.githubuse

[2019-01-10 07:13] kkiermasz opened #165 "Popup with compress keyboard translation type on X/XS/XS Max"
As we know notch complicates making views on iOS a lot. It's not different in Presentr.
For simplicity, let's assume that `Presentr` has `PresentationType` set to `.popup` and `.compress` to `KeyboardTranslationType`. When keyboard is shown on the screen `Presentr` is compressing the view, but not in the proper way. Unforunatetly, notch is being ignored. Image's attached below. On all notch-free d

[2019-01-11 12:27] JFERSD opened #166 "ViewController not showing in real device iPhone Xs"
Hi,
I have just updated my pod version from 1.2.3 (Compiled with Swift 3)  to 1.9 (Compiled in 4.2) and Presentr is not showing views correctly in Iphone Xs. In the simulator it performs fine, but not in the real device.

I've tested it with custom .presentationType and it does not appear at all, and with default modes it is appearing always on the top of the screen, with a weird width.

Any ideas

[2019-01-14 08:24] #166 closed, assigned to nobody

[2019-01-21 01:07] scottmcpherson opened #167 "How to display over tabs?"
Hi, trying to get presentr to render over tabs. Is there a way to do this?

![image](https://user-images.githubusercontent.com/2382172/51447725-7dcaa880-1ce6-11e9-8747-ea11c8303b1e.png)

Just using an example setup right now trying to get this to work:
[code]

[2019-01-27 06:28] libern commented on #146
When will it be fixed?

[2019-01-29 15:14] bernikovich commented on #154
Waiting for updates. :)

[2019-01-30 06:32] dosymbaev commented on #143
@chryb Did you find a solution for your problem?

[2019-02-22 10:48] bernikovich opened #169 "How to manage safe area constraints on presented view controller during interactive presentation?"
Hello guys.
I have faced with an issue related to safe area during interactive presentation. Does someone knows how to fix it?

I have added in PresentrExample.MainTableViewController -> `lazy var alertViewController` following codeL
[code]

[2019-02-22 10:50] bernikovich commented on #169
First screenshot shows normal behavior. Second one with issue during interactive dismissal.
![simulator screen shot - iphone x - 2019-02-22 at 13 49 58](https://user-images.githubusercontent.com/3878311/53237798-aa3c6080-36a8-11e9-9f23-8350fa8c806c.png)
![simulator screen shot - iphone x - 2019-02-22 at 13 50 05](https://user-images.githubusercontent.com/3878311/53237801-adcfe780-36a8-11e9-9225-be

[2019-02-22 10:50] bernikovich commented on #169
SafeArea guide changes without animation. So user can see blink when my red view changes its place.

[2019-04-18 07:36] mohsinbmwm3 opened #170 "How to present a controller by giving some margin from Y axis?"
Hello,

I am trying to present a UIViewController with Presentr controller.

[code]
ScheduleViewOption is the new vc which i am trying to present below app header but when it is presented then i am not able to click header buttons.
When I run this I get as shown in image.
![Screenshot 2019-04-18 at 1 00 13 PM](https://user-images.githubusercontent.com/6183766/56344271-a0cc0200-61da-11e9-952c-51914

[2019-05-21 13:44] pickettjd opened #171 "delegate for onDismiss?"
Is there a way to detect when the presentr window has been dismissed?

[2019-05-25 09:26] CodeOcenS opened #172 "Alert view disappear when i use Swift5 in Example project"
when I downloaded the example project, I used Swift5 . when I tap the "Alert without animation", I could not  see any AlertView.  but it is appear sometimes

[2019-05-30 17:34] Anonym0uz commented on #169
Hi, try to replace calculateCenterPoint func in ModalCenterPosition file on:
[code]

[2019-05-31 20:24] Sam-Spencer opened #173 "Expand View Controller to Full Screen"
Is there any official / recommended / supported way to expand a presented view controller (say, for example, at half-screen size) to full screen? And then toggle back to the previous size?

[2019-06-24 11:05] ergunkocak commented on #125
https://asciiwwdc.com/2014/sessions/235
I could not find the video i guess apple removed it. I can send over wetransfer the video in case you like. It helped me a lot

[2019-07-04 11:44] debugger89 commented on #172
I have the same issue. Do you know of a workaround?
Tested with Iphone6s 12.2 simulator

[2019-08-23 16:45] naqi commented on #143
I am noticing this as well. None of the viewDid/Will methods are getting called.

[2019-08-26 16:50] cliftonlabrum opened #174 "Swift Package Manager Support"
This library is excellent and it would be great if we could install it with Swift Package Manager. Please add SPM support for Xcode 11. :)

<img width="660" alt="Presentr" src="https://user-images.githubusercontent.com/2513753/63707488-dd41e700-c7e6-11e9-8eaa-1b32c1f29ed7.png">

[2019-08-26 18:09] cliftonlabrum opened #175 "Manual Installation Not Working"
I'm using Xcode 11, and I tried the manual installation where I copy the `/Presentr` folder into my project, `Copy Items If Needed`, and add them to my iOS target.

The ReadMe indicates that this is all that's necessary, but I can't get it to work.

When I do something like this:
[code]
I get this error:

Is there another step I'm missing to make Presentr available to my project? I haven't done a

[2019-08-26 18:54] cliftonlabrum commented on #175
Turned out that the assets weren't really included in the project somehow. My clue was that the `Presentr` folder was blue. I created a new `Group` in Xcode, moved the files into it, and they started working.

[2019-08-26 18:54] #175 closed, assigned to nobody

[2019-09-23 03:54] hoangtuanfithou opened #176 "[Xcode 11] [iOS 13] Present view with presentationType .fullScreen shows black background"
@danlozano
        let presenter = Presentr(presentationType: .fullScreen)
        presenter.blurBackground = true
1. It shows black background on Xcode 11, iOS 13, should show blur background
![Screenshot 2019-09-23 at 11 40 06 AM](https://user-images.githubusercontent.com/93890/65401092-78cf7300-ddf8-11e9-86f8-d4e877efe65b.png)

2. should shows blur background (iOS 12, Xcode 10) :
![Screenshot 2

[2019-10-03 03:03] #176 closed, assigned to nobody

[2019-11-01 04:08] cliftonlabrum commented on #174
Any luck with this? 😁

[2019-12-10 03:53] TheNamesTys opened #178 "Displaying presentr view over animating view behind causes full screen"
if there is an animation for a presentr view (for example selecting a customer from a custom view) and that view is animating to the screen - if there is another view that is required to be displayed (as a result of the first customer select view) it will be displayed at 100% height and width.

[2020-02-17 11:09] Dev-iOS-Appbirds commented on #154
Waiting for updates. :)

[2020-05-02 18:50] dhipin commented on #164
I am also having this same issue here when I use my NavigationController as rootviewcontroller. I guess there has been no updates to the repo for the past 2 years.
![image](https://user-images.githubusercontent.com/32156887/80873079-b1f78c00-8cd3-11ea-9e97-115167e6cbd8.png)

[2020-08-24 11:10] aabanaag opened #179 "Presentr with Coordinator"
I have two coordinators, ModuleA and ModuleB. ModuleB needs to be displayed as a modal using Presentr but whenever I try to do customPresentViewController it displays it as overFullScreen instead of a modal.

[code]
Any ideas on how to show ModuleB as a modal?

[2020-10-30 22:54] hukjordanjanaq commented on #154
Still waiting for updates :(

[2020-11-02 17:35] cliftonlabrum commented on #154
I think the developer has moved on to other things. You might consider SwiftMessages. I recently implemented it in a project and it works quite well: https://github.com/SwiftKickMobile/SwiftMessages

[2020-12-08 16:14] vfumin commented on #125
Has any progress on this task?

[2021-02-11 03:19] miaokyle commented on #146
Is this one fixed ?

[2021-02-11 03:19] miaokyle commented on #146
View Controller not showed

[2021-02-24 06:27] FrankWuoO commented on #125
Looking forward to this enhancement.

[2021-02-24 06:30] patthehuman commented on #125
this project is dead man. you are better off finding a new one.

On Tue, Feb 23, 2021 at 10:27 PM FrankWu <notifications@github.com> wrote:

[2021-02-24 06:33] FrankWuoO commented on #125
Oh... Okay.
Thanks for your message. 😭

[2021-03-23 22:33] vkhadyka opened #183 "[Touch] unexpected nil"
I use your pod.
But sometime a got the next situation.
I show alert popup and can't dismiss it and console print log:
`[Touch] unexpected nil window in __sendSystemGestureLatentClientUpdate, _windowServerHitTestWindow: <UIWindow: 0x1063187b0; frame = (0 0; 375 812); autoresize = W+H; userInteractionEnabled = NO; gestureRecognizers = <NSArray: 0x281651dd0>; layer = <UIWindowLayer: 0x281ea7f80>>, to

[2021-04-21 20:21] patthehuman commented on #183
project is dead

[2021-04-21 20:21] patthehuman commented on #179
project is dead

[2021-04-21 20:21] patthehuman commented on #178
project is dead

[2021-04-21 20:21] patthehuman commented on #174
the project is dead

[2021-04-21 20:21] patthehuman commented on #171
the project is dead

[2021-06-18 06:04] bestannwn opened #184 "`dismissTransitionType` set `.crossDissolve` no effect"
Why I set'presenter.dismissTransitionType = TransitionType.crossDissolve' but no effect, always show the effect of ‘coverVertical’
And I added a breakpoint in Presentr.swift and found that the ‘animationController(forDismissed dismissed: UIViewController)’ function was not executed
Using AlertViewController

[2021-06-18 06:06] bestannwn commented on #184
vesion 1.9.0

[2021-08-24 10:25] sohail-niazi opened #186 "Controller Moves up"
Hi, I am trying to show Popup with TextView in it... When I open keyboard for TextView it jumps up the screen. I am using Compress presentation style... Corner radius also goes away... For searchbar it works fine...
Here is my code for Controller presentation:
[code]

Here is picture for issue :

![Simulator Screen Shot - iPhone 12 Pro Max - 2021-08-24 at 15 24 23](https://user-images.githubuserco

[2021-12-22 03:09] wangxue-holla commented on #143
I have this problem too

[2021-12-22 04:12] wangxue-holla commented on #143
Did you find a solution for your problem?

[2021-12-22 04:13] wangxue-holla commented on #143
@chryb @naqi @dosymbaev

[2021-12-22 04:14] wangxue-holla commented on #143
@naqi  @dosymbaev @chryb  @dosymbaev  Did you find a solution for your problem?

[2022-03-24 12:50] Zdd-Bird commented on #184
+1

[2022-10-12 03:36] Andy0570 commented on #179
Is there a recommended alternative?

[2022-11-25 03:36] phonefixnicole opened #188 "wish to be smarter"